
body{
    color: antiquewhite;
   
}
.container{

    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows:repeat(2, 1fr);
    width: 100vw;
    height: 100vh;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    margin: auto;
  
}

.rouge{
    background-color: red;
    border: 1px solid whitesmoke;
   
   
   
}
.vert{
    background-color: green;
    border: 1px solid whitesmoke;
    
    
}
.bleu{
    background-color: blue;
    border: 1px solid whitesmoke;
   
    
}
.cyan{
   
    background-color: cyan;
    border: 1p solid whitesmoke;
    
}
.jaune{
    background-color: yellow;
    color: black;
    border: 1px solid whitesmoke;
   
    
}
.violet{
    background-color: violet;
    border: 1px solid whitesmoke;
    
  
}
.gris{
    background-color: grey;
    border: 1px solid whitesmoke;
    
   
}
.marron{
    background-color: brown;
    border: 1px solid whitesmoke;
    
}

.orange{ 
    
    background-color: orange;
    border: 1px solid whitesmoke;
    
}
.noir{
    background-color: black;
    border: 1px solid whitesmoke;
   
    
}

@media screen and (max-width:2112px) {

    .container{
    
        grid-template-columns:3fr 1fr 1fr;
        grid-template-rows:repeat(2, 1fr); 
    }
    
   .rouge{
    grid-row-start: 1;
    grid-column-start: 2;
   }
    .vert{
        grid-row-start: 1;
        grid-column-start: 3;
    }
    .bleu{
        grid-row-start: 1;
        grid-column-start: 4;
    }
    .cyan{
        grid-row-start: 1;
        grid-column-start: 5;
    }
    .jaune{
        grid-row-start: 2;
        grid-column-start: 1;
    }
    .violet{
        grid-row-start: 2;
        grid-column-start: 2;
    }
    
    .gris{
        grid-row-start: 2;
        grid-column-start: 3;
    }
    
    .marron{
        grid-row-start: 2;
        grid-column-start: 4;
    }
    .orange{
        grid-row-start: 2;
        grid-column-start: 5;
    }

    .noir{
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width:1712px){
    
    .container{
    
        grid-template-columns:1fr 4fr 4fr 1fr 3fr;
        grid-template-rows: repeat(2, 1fr)
    }
    
   
    .vert{
        
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100vh;
        
     }

     
     .noir{
        grid-row-start: 1;
        grid-column-start: 1;
        width:auto;
    }
 

}

@media screen and (max-width:1512px) {

    .container{
    
        grid-template-columns:1fr 1fr 2fr 1fr;
        grid-template-rows:2fr 2fr; 
    }
    
}
@media screen and (max-width:1080px) {

    
  
    .orange{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100vw;
        height: 50vh;
    }
   
       .noir{
        grid-row-start: 2;
        grid-column: 1 / 6;
        width: 100vw;
        height: 50vh;
    }

    .rouge{
        grid-row-start: 2;
        grid-column-start: 5;
       }
       
}
