
    

body{
    color: bisque;
    background-color: silver;
}

.mon {
    background-color: yellowgreen;
    padding: 2%;
    
}

.petit{
    background-color: tomato;
    display: flex;
   
    padding-left: 40%;
    padding: 20%;
   
}
.defi{
    background-color: darkslateblue;
    padding: 7%;
   

}

.chat{
    background-color: crimson;
   
}
.endormie{

    background-color: aquamarine;
    padding: 6px;
    width: 89px;
    height: 300px;
    
}

.mange{
    background-color: chocolate;
   

}

.dans {
    background-color: forestgreen;
    
}

.la{
    background-color: darkkhaki;
    padding-left: 30%;
   
}
.cour{
    background-color: royalblue;
    padding: 3%;
    
}

.vis{
    background-color: lightpink;
    padding: 2%;
    
}

.le{
    background-color: midnightblue;
    padding-right: 30%;

    
}

.sourire{
    background-color: thistle;
    padding: 5%;
    
}

.du{
    background-color: rosybrown;
    
}

.soir{
    background-color: black;
    padding-right: 100%;
}

.f1_2{
    display: flex;
    flex-direction: row-reverse;
   

}
.f3_3{
    display: flex;


}

.master_1{
    display: flex;
    flex-direction: row-reverse;
}
.master_2{
    display: flex;
    flex-direction: column-reverse;
}

.center{
   text-align: center;
}
.f2{
    display: flex;
    flex-direction: column-reverse;
}

.f3{
    display: flex;
    flex-direction: column-reverse;
}
.f4{
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 1000px){
    body{
        background-color: darkblue;
    }
    
    .f1_2{
        flex-direction: row;
    }
    .f2{
        display: flex;
        flex-direction: row-reverse;
    }

    .f3{
        display: flex;
        
    }
    .master_1{

        flex-direction: column-reverse;
    }

    .master_2{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .endormie{

        height: 20px;
    }
    .la{
        padding: 2%;
    }
}

@media screen and (max-width: 751px){
   
    .f2{
        display: flex;
        flex-direction:column-reverse;
    }

    .f3{
        display: flex;
        flex-direction: column;
        
    }
    .f3_2{
        flex-direction: column;
    }
    .f3_3{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 926px){
    .soir{


    }
}

@media screen and (max-height:987px){
    body{
        background-color: black;
    }


}

@media screen and (max-width:680px) and (max-height:786px){
         .master_1{
             flex-direction: row;
            
            
         }   
         .master_2{
             flex-direction: column;
            
         }

         .f1_3{
             display: flex;
         }
         .f2{
             flex-direction: row;
         }
         .f2_2{
             display: flex;
         }
         .f2_3{
             display: flex;
         }
         .f3{
             flex-direction: row;
         }
         .f3_2{
             display: flex;

         }
         


}