

body{
    font-family: "Raleway", sans-serif;
  margin:0px;
  overflow-x: none;
   
}



.flex_filtres{
    display: flex;
    align-items: center;

}

.flex_align {
    display: flex;
    align-items: center;
    padding-left: 5px;

}
   
.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
   
}
.les_plus_populaires{
    display: flex;
    flex-direction: column;
  
    
}

li{
    list-style: none;
    margin-left: 22px;
 
}

a{
    text-decoration: none;
    border-top: solid  2px transparent;
    color: black; 
    
}
 p{
     margin-left: 22px;
 }

.p_info{
    margin-bottom: 19px;
    margin-left: 5px;
}
.afficher_plus{
    font-weight: bold;
    padding: 9px;
}


h2 {
    margin-left: 20px;
}

h3 {
    margin-left: 22px;
}






header{
    display: flex;
    margin: 0px 22px;
    gap: 620px;


}

.container{
    display: flex;
    gap: 200px;
}

.container_liens_header{

    display: flex;
    align-items: center;
    gap: 179px;
    border-top: transparent solid 2px;
    width: 171px;
    padding: 5px;
    justify-content: center;
     
}

.container_liens_header:hover{
    border-top: #0065FC solid 2px;
}


a:hover{
   color: #0065FC;
   
}

.liens a:hover{
    color: #0065FC;
    border-top: #0065FC solid 2px;
 }

.partie_recherche{
    margin: 0px 22px;
}
.recherche{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 29px;
    margin-bottom: 19px;

}

.barre{
    padding: 10px;
    border-style: none;
    font-weight: bold;
    
}

button{
    padding: 10px;
    background-color: #0065FC;
    color: #deebff;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    
}

.map-marker{
    border-style: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px;
    width: 15px; height: 15px;
    background-color: #f2f2f2;
     margin-left: 22px;
  
}

.filtres {
    display: flex;
    padding-inline-start: 0%;
    align-items: center;
    border-color:#f2f2f2;
    border-radius: 39px;
    font-size: 19px;
    
}
.espace_filtre{
    padding-left: 10px;
}

.logo_filtre{
    padding: 15px;
    border-radius: 50px;
    background-color:#deebff;
    width: 19px; height: 19px;
   

}

.logO{
    width: 19px; height: 19px;
   
}


.lien_filtre{
    display: flex;
    align-items: center;
    border-style: solid;
    border-color:#f2f2f2 ;
    border-radius: 45px;
    padding-right: 19px;
    font-weight: bold;
    
}

.logo_info{
    padding: 5px;
    margin-left: 22px;
    border-style: solid;
    border-color:#f2f2f2 ;
    border-radius: 50px;
  width: 11px; height: 11px;
}
.etoile{
    width: 11px; height: 11px;
    display: flex;
}

.info{
    display: flex;
    align-items: center;
   margin: 0px 22px;
}
.plus{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 22px;
    padding-top: 29px;
    background-color: #f2f2f2;
    border-top-left-radius:21px;
    border-top-right-radius: 21px;

}

main{
    display: flex;
    align-content: flex-start;
    flex-flow: column wrap;
    margin: 0px 22px;
}
#hebergements{
    display: flex;
   flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 21px;
    margin-right: 34px;
    padding: 26px 15px;

   
}

.mis_en_page{
    display: flex;
    flex-flow: row nowrap;
   
}
.liste_1{
    display: flex;
    justify-content: space-around;
   
}

.descriptif{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px;   
    margin: 9px;
    padding: 3px 3px 11px 3px;
    cursor: pointer;
    box-shadow: 3px 4px 2px #1d1d1d1c;
    
}

.descriptif_2{
    display: flex;
    background-color: white;
    border-radius: 18px;  
    padding: 3px 3px 0 4px;
    margin: 29px 29px 0;
    align-items: center;
    cursor: pointer;
    box-shadow: 3px 4px 2px #1d1d1d1c;

}

.descriptif_haute{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;  
    margin: 0 9px 9px 9px;
    padding-bottom: 10px;
    width: 305px; height: 400px;
    cursor: pointer;
    box-shadow: 3px 4px 4px #1d1d1d5b;

}

.descriptif_petite{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px;   
    margin: 0 9px 9px 9px;
    cursor: pointer;
    box-shadow: 3px 4px 2px #1d1d1d5b;
    
}

.legende_1{
  
    margin: 4px;
}




.liste_plus_populaires{
    display: flex;
    flex-flow:column wrap;
    padding-bottom: 60px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    background-color: #f2f2f2;

}
#activites{
    margin: 39px 0;
    padding: 29px 25px;
}
.liste_activites{
    display: flex;
    flex-wrap: wrap;
    gap: 56px;
    width: 100%; height: 100%;
    border-radius: 26px;

}


.photo{
    width: 250px; height: 129px;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    
}

.photo_fin{
    width: 270px; height: 140px;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    
}

.photo_pop{
    width: 129px; height: 132px;
    border-bottom-left-radius:15px;
    border-top-left-radius:15px;
}

.photo_haute{
    width: 305px; height: 349px;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
}

footer{
    display: flex;
    gap: 200px;
    background-color: #f2f2f2;


}

footer h3{
    margin-bottom: 0px;
}


.article_footer{
    display: flex;
    flex-direction: column;
    padding-bottom: 39px;
    margin: 0 0 0 29px;
}


@media screen and (max-width: 1529px) {
    body{
        display: flex;
        flex-direction: column;
    }
    

    header{
        gap: 68px;
        justify-content: space-between;
    }

    .partie_recherche{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info{
        justify-content: center;
       
    }
    
    h2{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
   
    .container{
        gap: 0px;
    }

    .mis_en_page{
        flex-direction: column;
        width: 99%;

    }
    #hebergements {
       
        align-items: center;
        margin-bottom: 20px;
        

    }
    #activites{
        width: 99%;
    }

    .liste_1{
        justify-content: space-evenly;
    }
    .liste_activites{
        flex-direction: row;
       
        
    }
    .liste_plus_populaires{
        flex-flow:row nowrap;
        align-items: center;
        
    }
    
    .les_plus_populaires{
        margin-right: 34px;
        
   
    }
    .plus{
       
        gap:10%;
    align-items: baseline;
    justify-content: center;
   
    
    
    }
    footer{
        width:100%;
    }
}



@media screen and (max-width: 992px){
  .filtres{
      flex-direction: column;
  }
   
}