

body{
    font-family: "Raleway", sans-serif;
 margin: 0;
  overflow-x: none;
 
   
}



ul{
    padding-inline-start:  0;
}

.flex_filtres{
    display: flex;
    align-items: center;

}

   
.flex_column{
    display: flex;
    flex-direction: column;
}

.flex_column_1{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

h2{
    padding-bottom: 7px;
    margin-left: 0.8vw;
}
h3{
    font-size: 19px;
}
.h3_activites{
    margin: 1vh 0.2vw 0.6vh 1.3vw;
    font-size: 1.2vw;
}

li{
    list-style: none;
    cursor: pointer;
 
}

a{
    text-decoration: none;
    border-top: solid  2px transparent;
    color: black; 
    
}
 p{
     margin: 5px;
     font-size: 17px
 }


.afficher_plus{
    font-weight: bold;
    cursor: pointer;
}


.titre_recherche {
    font-size: 29px;
    margin-bottom: 5px;
}

header{
    display: flex;
    justify-content: space-between;


}

.container{
    display: flex;
    gap: 60px;
}

.container_liens_header{
    width: 12vw;
    
    display: flex;
    align-items: center;
    border-top: transparent solid 2px;
    justify-content: center;
     
}

.container_liens_header:hover{
    border-top: #0065FC solid 2px;
}


a:hover{
   color: #0065FC;
   
}

.liens a:hover{
    color: #0065FC;
    border-top: #0065FC solid 2px;
 }

.partie_recherche{
    display: flex;
    flex-direction: column;
    margin: 1vh 1vw;

}
.recherche{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5vw;
   

}

.barre{
    color: black;
    border-style: none;
    font-weight: bold;
    font-size: 9px;
    padding: 14px;
}

button{
    
    background-color: #0065FC;
    color: #deebff;
    padding: 15px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    
}

.map-marker{
    border-style: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 19px; height: 19px;
    padding: 15px;
    background-color: #f2f2f2;
   
  
}

.partie_filtres {
    display: flex;
    border-color:#f2f2f2;
    border-radius: 39px;
    
}

.flex_filtres{
    display: flex;

}

.filtres{
    margin: 0 2vw;

}

.lien_filtre{
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    padding: 1px 14px 1px 0;
    border-color: rgb(201, 196, 196);
    border-radius: 45px;
    font-weight: bold;
    
}

.espace_filtre{
    padding: 0 0.4vw ;
}

.logo_filtre{
   padding: 14px;
    border-radius: 50px;
    background-color:#deebff;
    width: 22px; height: 22px;
   

}

.logO{
    width: 19px; height: 19px;
   
}

.logo_info{
   
    border-style: solid;
    border-color:#f2f2f2 ;
    border-radius: 50px;
  width: 11px; height: 11px;
}
.etoile{
    width: 0.6vw;
    height: 1vh;
    display: flex;
}

.info{
    display: flex;
    align-items: center;
    margin: 1vh 1vw;
   
}
.plus{

    display: flex;
    align-items: center;
    justify-content: space-between;

}

main{
    width: 98vw;
    margin: 3vh 1vw 0 1vw;
    display: flex;
    align-content: flex-start;
    flex-flow: column wrap;
    
}
#hebergements{
    display: flex;
   flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 21px;
    padding: 3vh 0.5vw 3vh 2.5vw;
   
}

.les_plus_populaires{
    display: flex;
    flex-direction: column;
    padding: 3.5vh 2.5vw 0 2.5vw;
    margin-left: 2vw;
    background-color: #f2f2f2;
    border-radius: 21px;
    border-radius: 21px;
  
}

.mis_en_page{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 4vh;
   
}
.liste_1{
    display: flex;
    
   
}

.descriptif{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px;
    margin-right: 2.5vw;  
    margin-bottom: 4vh;
    cursor: pointer;
    padding: 0.2vh 0.4vw 0.2vh 0.1vw;
    box-shadow: 3px 4px 2px #1d1d1d1c;
    width: 16vw;
    height: 25.2vh;
}

.descriptif_2{
    display: flex;
    background-color: white;
    border-radius: 18px;  
    cursor: pointer;
    box-shadow: 3px 4px 2px #1d1d1d1c;
    margin-bottom: 3vh;
    padding: 0.2vh 2vw 0 0.2vw;
    height: 16.2vh;
    width: 23vw;

}

.descriptif_haute{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;  
    width: 20vw;
    height: 45vh;
    cursor: pointer;
    box-shadow: 3px 4px 4px #1d1d1d5b;

}

.descriptif_petite{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px;   
    height: 21vh;
    width: 17vw;
    cursor: pointer;
    box-shadow: 3px 4px 2px #1d1d1d5b;
    
}

.legende_1{
    margin-top: 0.3vh;
    margin-bottom: 0;
  font-size: 1.1vw;
  margin-left: 0.7vw;
   
}
.legende_2{
    margin-top: 0.7vh;
    margin-bottom: 0;
    font-size: 1vw;
    margin-left: 0.7vw;
}

.legende_3{
    margin-top: 1.3vh;
    margin-bottom: 0;
  font-size: 1.1vw;
  margin-left: 0.7vw;
   
}

.flex_align {
    display: flex;
    padding: 0.9vh 0.8vw 1.2vh 0.8vw;

}

.flex_align_2 {
    display: flex;
    padding: 6.3vh 0.8vw 1.2vh 0.8vw;

}

.flex_align_3 {
    display: flex;
    padding: 3.6vh 0.8vw 1.2vh 0.8vw;

}

.flex_align_4 {
    display: flex;
    padding: 6.5vh 0.8vw 1.2vh 0.8vw;

}



.liste_plus_populaires{
    display: flex;
    flex-flow:column wrap;
   
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    background-color: #f2f2f2;

}

.liste_activites{
    display: flex;
    gap: 4vw;
    justify-content: space-evenly;
    border-radius: 26px;
    
}




.photo{
    width: 16.3vw;
    height: 16vh;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    
}

.photo_fin{
    width: 17vw;
    height: 16vh;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    
}

.photo_pop{
    width: 9vw;
    height: 16vh;
    border-bottom-left-radius:15px;
    border-top-left-radius:15px;
}

.photo_haute{
    width: 20vw;
    height: 40vh;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
}

footer{
    display: flex;
    gap: 200px;
    background-color: #f2f2f2;
    margin-top: 6vh;
    padding: 1vh 2.5vw 3.8vh 3.5vw;
    margin-left: 0;
    margin-bottom: 0;


}


.article_footer{
    display: flex;
    flex-direction: column;
    
}



@media screen and (max-width:992px) {

    header{
        justify-content: space-around;
    }

    .partie_recherche{
        align-items: center;
    }

    .partie_filtres{
        flex-direction: column;

    }


    .info{
        justify-content: center;
    }

    .titre_filtre{
        text-align: middle;
    }
    .mis_en_page{
        flex-direction: column;
    }
    #hebergements{
        width: 91vw;
        margin-left: 2vw;
        align-items: center;
        padding: 3vh 0.5vw 1vh 0.5vw;
    }
    .liste_1{
        justify-content: center;
        gap: 4vw;
    }
    .descriptif{
        margin-right: 0;
        width: 25vw;
    }
    .photo{
        width: 25.3vw;
    }

    .afficher_plus{
        display: flex;
        justify-content: center;
    }

    .les_plus_populaires{
        margin-top: 8vh;
    }

    .plus{
        justify-content: center;
        align-items: baseline;
        gap: 1vw;
    }
    .liste_plus_populaires{
        flex-flow: row;
        justify-content: space-between;
    }
    #activites{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .legende_1{
        font-size: 1.8vw;
    }
    .legende_2{
        font-size: 1.5vw;
    }
    .legende_3{
        font-size: 1.7vw;
    }

    .flex_align_2{
        width: 1vw;
        height: 0.8vh;
    }

    .flex_align_3{
        padding: 3vh 0.8vw 1.2vh 0.8vw;
    }

    .flex_align_4{
        padding: 3.4vh 0.8vw 1.2vh 0.8vw;
    }

    .etoile{
        width: 1vw;
        height: 0.8vh;
    }
}

@media screen and (max-width:768px) {

    h2{
        margin-left: 4vw;
        padding-bottom: 0;
    }

    main{
        width: 100vw;
        margin: 3vh 0;
        align-content: stretch;

    }
    
    header{
        flex-direction: column;
        align-items: center;
    }

    .container{
        width: 100%;
        justify-content: space-around;
    }

    .container_liens_header {
        width: 100%;
        display: flex;
        align-items: center;
       border-top: none 0;
        border-bottom: transparent solid 2px;
        justify-content: center;
        padding-bottom: 1vh; 
    }

    .container_liens_header:hover{
        color: #0065FC;
        border-top: none 0;
        border-bottom: #0065FC solid 2px;
     }
     a{
        border-top: none 0;
        border-bottom: transparent solid 2px;
     }
     .BOOKI{
         margin: 3vw;
         padding-left: 10vw;
     }

    .titre_filtre{
        margin: 3vh 3vw;
    }
    
    .flex_filtres{
        flex-wrap: wrap;
    }

    .mis_en_page{
        flex-direction: column-reverse;
        margin-top: 0;
    }
    
    .les_plus_populaires{
        margin-top: 0;
        margin-left: 0;
        border-radius: 0;
    }

    .liste_plus_populaires{
        align-items: center;
        flex-direction: column;
        padding-bottom: 4vh;
        
    }
    .descriptif_2{
        margin-bottom: 2vh;
    }

    .plus{
        justify-content: space-between;
    }
    #hebergements {
        background-color: transparent;
       align-items: flex-start;
       margin-bottom: 5vh;
       margin-top: 5vh;
    }

    .liste_1{
        flex-direction: column;
        gap:0;
        
        
    }
    .h3_activites{
        font-size: 2.9vw;
    }
    
    .legende_1{
        font-size: 3.3vw;
    }
    .legende_2{
        font-size: 2.6vw;
    }
    .legende_3{
        font-size: 3.3vw;
    }

    .flex_align_2{
        width: 1vw;
        height: 0.8vh;
    }

    .flex_align_3{
        padding: 3vh 0.8vw 1.2vh 0.8vw;
    }

    .flex_align_4{
        padding: 3.4vh 0.8vw 1.2vh 0.8vw;
    }

    .etoile{
        width: 1.7vw;
    height: 1vh;
    
    }

    .flex_align{
        padding: 1.2vh 0.8vw 1.2vh 0.8vw;
    }

    

    .descriptif{
        margin-bottom: 4vh;
        margin-left: 4vw;
        width: 83vw;
        height: 41vh;
    }
    .afficher_plus{
        justify-content: flex-start;
    }

    #activites{
        align-items: flex-start;
    }

    .liste_activites{
        flex-direction: column;
        gap: 0;
    }

    .descriptif_2{
        height: 26.2vh;
    width: 83vw;
    margin-bottom: 4vh;
    }

    .photo_pop{
        width: 35vw;
    height: 26vh;
    }

    .photo{

        width: 83.3vw;
        height: 29vh;
    }
    .photo_fin{

        width: 83.3vw;
        height: 29vh;
    }

    .photo_haute{
        width: 83.3vw;
        height: 29vh;

    }

    .descriptif_haute{
        width: 83.3vw;
    height: 39vh;
    margin: 3vh 7vw;
    }

    .descriptif_petite{
        margin: 3vh 7vw;
        height: 39vh;
        width: 83.3vw;
    }

    .flex_column_1{
        margin: 2vh 0;
    }




    footer{
        flex-direction: column;
        gap: 0;

    }
    
    .article_footer{
        margin-bottom: 3vh;

    }
    
}


