

body{
    font-family: "Raleway", sans-serif;
 margin: 0;
  overflow-x: none;
 
   
}



ul{
    padding-inline-start:  0;
}

.flex_filtres{
    display: flex;
    align-items: center;

}

.flex_align {
    display: flex;
    padding: 0.3vh 0.8vw 1.2vh 0.8vw;

}

.flex_align_2 {
    display: flex;
    padding: 7.3vh 0.8vw 1.2vh 0.8vw;

}

.flex_align_3 {
    display: flex;
    padding: 5.3vh 0.8vw 1.2vh 0.8vw;

}
   
.flex_column{
    display: flex;
    flex-direction: column;
}

.flex_column_1{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

h2{
    padding-bottom: 7px;
    margin-left: 0.8vw;
}
h3{
    font-size: 1.5vw;
}
.h3_activites{
    margin: 1vh 0.2vw 0.6vh 1.3vw;
    font-size: 1vw;
}

li{
    list-style: none;
    cursor: pointer;
 
}

a{
    text-decoration: none;
    border-top: solid  2px transparent;
    color: black; 
    
}
 p{
     margin: 5px;
     font-size: 1vw
 }



.p_info{
    margin-bottom: ;
    margin-left: ;
}
.afficher_plus{
    font-weight: bold;
    cursor: pointer;
}


.titre_recherche {
    font-size: 2vw;
    margin-bottom: 5px;
}

header{
    display: flex;
    justify-content: space-between;


}

.container{
    display: flex;
    gap: 60px;
}

.container_liens_header{
    width: 12vw;
    
    display: flex;
    align-items: center;
    border-top: transparent solid 2px;
    justify-content: center;
     
}

.container_liens_header:hover{
    border-top: #0065FC solid 2px;
}


a:hover{
   color: #0065FC;
   
}

.liens a:hover{
    color: #0065FC;
    border-top: #0065FC solid 2px;
 }

.partie_recherche{
    display: flex;
    flex-direction: column;
    margin: 1vh 1vw;

}
.recherche{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5vw;
   

}

.barre{
    color: black;
    border-style: none;
    font-weight: bold;
    font-size: 1vw;
    padding: 14px;
}

button{
    
    background-color: #0065FC;
    color: #deebff;
    padding: 15px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    
}

.map-marker{
    border-style: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 19px; height: 19px;
    padding: 15px;
    background-color: #f2f2f2;
   
  
}

.partie_filtres {
    display: flex;
    border-color:#f2f2f2;
    border-radius: 39px;
    
}

.flex_filtres{
    display: flex;

}

.filtres{
    margin: 0 2vw;

}

.lien_filtre{
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    padding: 1px 14px 1px 0;
    border-color: rgb(201, 196, 196);
    border-radius: 45px;
    font-weight: bold;
    
}

.espace_filtre{
    padding: 0 0.4vw ;
}

.logo_filtre{
   padding: 14px;
    border-radius: 50px;
    background-color:#deebff;
    width: 22px; height: 22px;
   

}

.logO{
    width: 19px; height: 19px;
   
}

.logo_info{
   
    border-style: solid;
    border-color:#f2f2f2 ;
    border-radius: 50px;
  width: 11px; height: 11px;
}
.etoile{
    width: 11px; height: 11px;
    display: flex;
}

.info{
    display: flex;
    align-items: center;
    margin: 1vh 1vw;
   
}
.plus{

    display: flex;
    align-items: center;
    justify-content: space-between;

}

main{
    width: 98vw;
    margin: 3vh 1vw 0 1vw;
    display: flex;
    align-content: flex-start;
    flex-flow: column wrap;
    
}
#hebergements{
    display: flex;
   flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 21px;
    padding: 3vh 0.5vw 3vh 2.5vw;
   
}

.les_plus_populaires{
    display: flex;
    flex-direction: column;
    padding: 3.5vh 2.5vw 0 2.5vw;
    margin-left: 2vw;
    background-color: #f2f2f2;
    border-radius: 21px;
    border-radius: 21px;
  
}

.mis_en_page{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 4vh;
   
}
.liste_1{
    display: flex;
    
   
}

.descriptif{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px;
    margin-right: 2.5vw;  
    margin-bottom: 4vh;
    cursor: pointer;
    padding: 0.2vh 0.4vw 0.2vh 0.1vw;
    box-shadow: 3px 4px 2px #1d1d1d1c;
    width: 16vw;
    height: 24.2vh;
}

.descriptif_2{
    display: flex;
    background-color: white;
    border-radius: 18px;  
    cursor: pointer;
    box-shadow: 3px 4px 2px #1d1d1d1c;
    margin-bottom: 3vh;
    padding: 0.2vh 2vw 0 0.2vw;
    height: 16.2vh;
    width: 23vw;

}

.descriptif_haute{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;  
    width: 20vw;
    height: 45vh;
    cursor: pointer;
    box-shadow: 3px 4px 4px #1d1d1d5b;

}

.descriptif_petite{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px;   
    height: 21vh;
    cursor: pointer;
    box-shadow: 3px 4px 2px #1d1d1d5b;
    
}

.legende_1{
    margin-top: 0.3vh;
    margin-bottom: 0;
  font-size: 1vw;
  margin-left: 0.7vw;
   
}
.legende_2{
    margin-top: 0.7vh;
    margin-bottom: 0;
    font-size: 0.9vw;
    margin-left: 0.7vw;
}

.legende_3{
    margin-top: 1.3vh;
    margin-bottom: 0;
  font-size: 1vw;
  margin-left: 0.7vw;
   
}



.liste_plus_populaires{
    display: flex;
    flex-flow:column wrap;
   
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    background-color: #f2f2f2;

}
#activites{
   width: ;
}
.liste_activites{
    display: flex;
    gap: 4vw;
    justify-content: space-evenly;
    border-radius: 26px;
    
}




.photo{
    width: 16.3vw;
    height: 16vh;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    
}

.photo_fin{
    width: 17vw;
    height: 16vh;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    
}

.photo_pop{
    width: 9vw;
    height: 16vh;
    border-bottom-left-radius:15px;
    border-top-left-radius:15px;
}

.photo_haute{
    width: 20vw;
    height: 40vh;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
}

footer{
    display: flex;
    gap: 200px;
    background-color: #f2f2f2;
    margin-top: 6vh;
    padding: 1vh 2.5vw 3.8vh 3.5vw;
    margin-left: 0;
    margin-bottom: 0;


}

footer h3{
   
}


.article_footer{
    display: flex;
    flex-direction: column;
    
}


