

body{
    font-family: "Raleway", sans-serif;
 margin: 0;
 overflow: scroll;
 
}


.flex_filtres{
    display: flex;
    align-items: center;
    gap: 4vw;
}

.flex_column_0{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}
   
.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5vh 3vw 1vh 1vw;
}
.flex_column_3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5vh 3vw 1vh 1vw;

}

.flex_column_1{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.flex_column_2{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

h2{
    font-weight: 800;
    padding-bottom: 2vh;
}


.titre_pop{
    font-weight: 800;
    margin-left: 0.2vw;
}
h3{
    font-weight: 700;
    font-size: 19px;
}
.h3_activites{
    font-weight: 800;
    margin: 1.2vh 0 0.6vh 0.7vw;
    font-size: 19px;
}

ul{
    padding: 0;
}
li{
    list-style: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    border-top: solid  2px transparent;
    color: black; 
}

 p{
     margin: 5px;
     font-size: 17px
 }


.afficher_plus{
    font-weight: bold;
    cursor: pointer;
}


.titre_recherche {
    font-weight: 700;
    font-size: 29px;
    margin-bottom: 5px;
}

header{
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;   
}

.container_liens_header{
    width: 12vw;   
    display: flex;
    align-items: center;
    border-top: transparent solid 2px;
    justify-content: center;    
}

.container_liens_header:hover{
    border-top: #0065FC solid 2px;
}


a:hover{
   color: #0065FC;
}

.liens a:hover{
    color: #0065FC;
    border-top: #0065FC solid 2px;
 }

.partie_recherche{
    display: flex;
    flex-direction: column;
    margin: 1vh 2vw;

}
.recherche{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5vw;
}

.barre{
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    border-left: none;
    border-right: none;
    font-weight: 700;
    font-size: 15px;
    padding: 14px;
}

button{
    
    background-color: #0065FC;
    color: #deebff;
    padding: 15px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700; 
}

.map-marker{
    border-style: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 19px; height: 19px;
    padding: 15px;
    background-color: #f2f2f2;
    object-fit:contain;
}

.partie_filtres {
    display: flex;
    border-color:#f2f2f2;
    border-radius: 39px;
   gap: 3vw;   
}

.flex_filtres{
   display: flex;
}

.lien_filtre{
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    padding: 1px 14px 1px 0;
    border-color: #f2f2f2;
    border-radius: 45px;
    font-weight: bold;  
}

.lien_filtre :hover {
    transform: rotate(360deg);
    transition-duration: 2s;
}

.filtres :hover{
    border-color: #0065FC;
    border-width: 1px;    
}

.espace_filtre{
    padding: 0 0.4vw ;
}

.logo_filtre{
   padding: 14px;
    border-radius: 50px;
    background-color:#deebff;
    width: 22px; height: 22px;
    object-fit: contain;
}

.logo_filtre :hover{
    border-color: #0065FC;  
}


.logO{
    width: 19px; 
    cursor: pointer;
  object-fit: contain;
}



.logo_info{
    border-style: solid;
    border-color:#f2f2f2 ;
    border-radius: 68px;
  width: 4px;
  object-fit: contain;
}

.etoile{
    width: 12px;
    display: flex;
    object-fit: contain;
}

.info{
    display: flex;
    align-items: center;
    margin: 1vh 2vw;
}
.plus{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

main{
    display: flex;
    flex-flow: column wrap; 
}

#hebergements{
    display: flex;
   flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 21px;
    padding: 3vh 2vw 3vh 0;
}

.les_plus_populaires{
    display: flex;
    flex-direction: column;
    padding: 3.5vh 2.5vw 0 2.5vw;
    background-color: #f2f2f2;
    border-radius: 21px;
    border-radius: 21px;
}

.mis_en_page{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 4vh;
    justify-content: space-between;
}

.liste_1{
    display: flex;
    gap: 2vw; 
}

.liste_2{
    display: flex;
    gap: 2vw; 
}

#activites{
    display: flex;
    flex-direction: column;
    margin: 2vw;
}

.descriptif{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 20.2px;  
    margin-bottom: 4vh;
    cursor: pointer;
    padding: 0.3vw 0.3vw 0.2vw 0.3vw;
    box-shadow:1px 1px 12px #1d1d1d1c;
    width: 275px;
    height: 221px;
}

.descriptif_2{
    display: flex;
    background-color: white;
    border-radius: 20.2px;  
    cursor: pointer;
    box-shadow:1px 1px 12px #1d1d1d1c;
    padding: 0.3vw 0.3vw 0.2vw 0.3vw;
    height: 139px;
    width: 387px;
}

.descriptif_haute{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20.2px;  
    width: 322px;
    height: 404px;
    cursor: pointer;
    box-shadow:1px 1px 12px #1d1d1d1c;
}

.descriptif_petite{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20.2px;   
    height: 187px;
    width: 274px;
    cursor: pointer;
    box-shadow:1px 1px 12px #1d1d1d1c; 
}

.legende_1{
    margin-top: 0.3vh;
    margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
   
}

.legende_2{
    display: flex;
    margin-top: 0.7vh;
    margin-bottom: 0;
    font-size: 17px;
   
}

.legende_3{
    margin: 0;
    margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
  
}

.flex_align {
    display: flex;
    
    margin-top: 1.7vh;
}

.flex_align_2 {
    display: flex;
   
}

.flex_align_3 {
    display: flex;
    
}

.flex_align_4 {
    display: flex;
   
}

.liste_plus_populaires{
    display: flex;
    flex-flow:column wrap;
    gap:4vh;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: #f2f2f2;
}

.liste_activites{
    display: flex;
    justify-content: space-between;
    border-radius: 26px;   
}

.photo{
    width: 275px;
    height: 130px;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    object-fit: cover;   
}

.photo_fin{
    width: 274px;
    height: 136px;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    object-fit: cover;  
}

.photo_pop{
    width: 146px;
    height: 137px;
    border-bottom-left-radius:17px;
    border-top-left-radius:17px;
    object-fit: cover;
}

.photo_haute{
    width: 322px;
    height: 348px;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    object-fit: cover;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin-top: 6vh;
    padding: 1vh 13.5vw 3.8vh 5.5vw;
    margin-left: 0;
    margin-bottom: 0;
}


.article_footer{
    display: flex;
    flex-direction: column;    
}

@media screen and (max-width:1485px){

    .mis_en_page{
        flex-direction: column;
        gap: 2vh;
        margin: 1vh 4vw;
    }

    .les_plus_populaires{
        padding-bottom: 3%;
    }

    .liste_plus_populaires{
        flex-direction: row;
        justify-content: center;
    }

    .info{
        margin: 1vh 4vw;
    }

    .partie_recherche{
        margin: 1vh 4vw;  
        gap: 1vw;
    }

    main{
        gap: 2vh;
    }

    .plus{
        justify-content: flex-start;
        gap: 5vw;
    }

    .liste_1{
        width: 100%;
       justify-content: space-evenly;
    }

    .liste_2{
        width: 100%;
        justify-content: space-evenly;
    } 
}

@media screen and (max-width:1261px){

    .liste_activites{
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vw;
    }
    .flex_column_2{
        flex-direction: row;
        gap: 3vh;
    }
}

@media screen and (max-width:992px) {

    header{
        justify-content: space-around;

    }

    .container_liens_header{
        width: 20vw;
    }

    .partie_recherche{
        align-items: center;
    }

    .flex_column_0{
        align-items: center;
    }

    .flex_column{
        margin: 1.5vh 3vw 3vh 2vw;
    }
    .flex_filtres{
        flex-wrap: wrap;
    
    }

    .partie_filtres{
        gap: 0;
        flex-direction: column;
        align-items: center;
    }

    .info{
        justify-content: center;
    }

    .titre_filtre{
        text-align: middle;
    }

    .mis_en_page{
        flex-direction: column;
    }
    
    .afficher_plus{
        display: flex;
    }

    .plus{
     justify-content: center;
    }

    .liste_plus_populaires{
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center
    }

    #activites{
        flex-direction: column;
        align-items: center;
    }

    .mis_en_page{
        margin: 0;
    }

    .liste_1{
        flex-wrap: wrap;
    }
    .liste_2{
        flex-wrap: wrap;
    }

    .liste_activites{
        align-items: center;
        gap: 5vw;
    } 

    .flex_column_2{
        flex-direction: column;
    }
    .descriptif{
        width: 337px; height: 254px;
        padding: 0.7vw 0.8vw 1vw 0.6vw;
    }

    .descriptif_2{
        width: 489px;
        height: 216px;
        padding: 0.7vw 0.8vw 0.5vw 0.7vw;
    }
    .photo_pop{
        width: 215px;
    height: 214px;
    }
    .photo{
        width:340px; height: 166px;
    }
}

@media screen and (max-width:979px){

    .flex_column_2{
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {

    .partie_filtres{
        align-items: flex-start;
    }
        .legende_1{
            font-size: 4.7vw;
        }

        .legende_3{
            font-size: 4.7vw;
        }
            
    h2{
        margin-left: 4vw;
        padding-bottom: 0;
        font-size: 5.7vw;
    }

    
    main{
        display: block;
        width: 100vw;
        margin: 3vh 0;
        align-content: stretch
    }
    
    header{
        flex-direction: column;
        align-items: center;
    }

    #activites{
        gap: 4vh;
    }

    .container{
        width: 100%;
        justify-content: space-around;
    }

    .container_liens_header {
        width: 100%;
        display: flex;
        align-items: center;
       border-top: none 0;
        border-bottom: transparent solid 2px;
        justify-content: center;
        padding-bottom: 2vh; 
    }

    .container_liens_header:hover{
        color: #0065FC;
        border-top: none 0;
        border-bottom: #0065FC solid 2px;
     }

     a{
        border-top: none 0;
        font-size: 2.7vw;
        border-bottom: transparent solid 2px;
     }
     p, .p_info{
         font-size: 2.7vw;
     }

     .BOOKI{
         margin: 4vw;
         padding-left: 10vw;
     }

    .titre_filtre{
        margin: 3vh 3vw;
        font-size: 4vw;
    }
    
    .flex_filtres{
        flex-wrap: wrap;
    }

    .mis_en_page{
        flex-direction: column-reverse;
        margin-top: 0;
    }
    
    .les_plus_populaires{
        margin-top: 0;
        margin-left: 0;
        border-radius: 0;
        display: block;
    }

    .liste_plus_populaires{
        align-items: center;
        padding-bottom: 4vh;
        gap: 3vh;  
    }

    .titre_pop{
       padding-bottom: 27px;
    }
    
    button{
        position: relative;
        right: 6vw;
        background-color: #0065FC;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(img/magnifying-glass.png);
        padding: 4.2vw;
        border: #f2f2f2 1px solid;
        border-radius: 18px;
        font-size: 0;
    }
    .map-marker{
        height: 5vw;
        padding: 1.9VW 3.9vw;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .logO{
        width: 31px;  
    }
    
    .barre{
        width: 58vw;
        height: 4.7vw;
        padding: 1.9vw;
        font-size: 4vw;
    }

    .descriptif_2{
        width: 86vw;
    height: 37.2vw;
    padding: 1.2vw 1.8vw 1.1vw 1.3vw;
    border-radius: 47.2px;

    }

    .photo_pop{   
        background-size: contain;
        border-bottom-left-radius: 41px;
        border-top-left-radius: 41px;
        height: 37vw;
        width: 36vw;
      
    }

    .plus{
        justify-content: space-between;
    }

    #hebergements {
        background-color: transparent;
       align-items: flex-start;
       margin-bottom: 5vh;
       margin-top: 5vh;
    }

    .liste_1{
        gap: 6vh; 
        justify-content: flex-start; 
        flex-direction: column;     
    }

    .liste_2{
        gap: 6vh; 
        justify-content: flex-start;  
        flex-direction: column;   
    }
    
    .h3_activites{
        font-size: 4.7vw;
        font-weight:700;
    }

    .legende_2{
        font-size: 2.7vw;
    }
    h3{
        font-size: 4.7vw;
    }

    li{
    font-size: 2.8vw;
    }

    .flex_align_2{
        margin: 0;
    }

    .flex_align_3{
        margin: 0;
    }

    .flex_align_4{
        margin: 0;
    }

    .titre_hebergements{
        margin-left: 0;
        font-size: 6.3vw;
    }

    .flex_column{
        margin: 3.5vh 3vw 3vh 2vw;
    }
    .flex_column_1{
        gap: 6vh;
        width: 100%;
    }
    .flex_column_2{
        width: 100%;
        gap: 6vh;
    }
    .descriptif{
        width: 95vw;
        height: 61.2vw;
        padding: 1.2vw 1.8vw 1.1vw 1.3vw;
        margin-bottom: 0;
        gap: 0.3vh;
        border-radius: 47.2px;
        justify-content: flex-start;
    }
    .lien_filtre{
        border-width: 2px;
    }

    .photo{
        width: 95.1vw;
        height: 40vw;
        border-top-left-radius: 47.2px;
        border-top-right-radius: 47.2px;
        background-size: contain;
    }

    .descriptif_haute{
        border-radius: 47.2px;
        width: 95vw;
        height: 58vw;
    }

    .descriptif_petite{
        border-radius: 47.2px;
        width: 95vw;
        height: 58vw;
    }
    
    .photo_fin{
        width:  95.1vw;
        height: 40vw;
        background-size: contain;
        border-top-left-radius: 47.2px;
        border-top-right-radius: 47.2px;
    }

    .photo_haute{
        width: 95.1vw;
        height: 40vw;
        background-size: contain;
        border-top-left-radius: 47.2px;
        border-top-right-radius: 47.2px;
    }

    .afficher_plus{
        justify-content: flex-start;
        font-size: 4.7vw;
    }

    .etoile{
        width: 3.2vw;
        height: 7.2vw;
    }

    .les_plus_populaires{
        gap: 6vh;
        align-items: flex-start;
    }
    .titre_recherche{
        font-size: 5.7vw;
        margin-left: 0;
    }

    #activites{
        align-items: flex-start; 
    }

    .h3_activites{
        font-size: 4.7vw;
        margin: 3.7vh 0.2vw 0.6vh 3.3vw;
    }

    .liste_activites{
        gap: 6vh;
        align-items: flex-start;
        justify-content: flex-start;

    }

    
    .flex_column_0{
        align-items: flex-start;
        gap: 6vh;
    }

    footer{
        flex-direction: column;
        gap: 0;
        margin-top: 12vh;
        padding: 1vh 0.5vw 3.8vh 5.5vw;;
    }
    
    .article_footer{
        margin-bottom: 3vh;

    }
}

@media screen and (max-width:413px){

    .photo{
        height: 20vh;
    }
    .descriptif{
        height: 32vh;

    }
    .descriptif_haute{
        height: 32vh;
    }

    .descriptif_petite{
        height: 32vh;
    }
    
    .photo_fin{
        height: 20vh;
        background-size: contain;
    }

    .photo_haute{
        height: 20vh;
        background-size: contain;
    }
    .flex_align{
        padding: 0;
    }

    .map-marker{
        padding: 2vw;
    }

    .barre{
        padding: 2vw;
        width: 28vw;
    }

    .container_liens_header{
        margin: 0vh 2vw;
    }
}

@media screen and (max-width:342px){

    .descriptif_2{
        height: 15.2vh;
    }
    .photo_pop{
        height: 15vh;
}

    .legende_2{
    font-size: 1.746vh;
}
li, a{
    font-size: 5vw;
}
p, h3{
    font-size: 4.6vw;
}

.titre_pop, .titre_hebergements, h2{
    font-size: 9vw;
}

.titre_filtre{
    font-size: 7vw;
}

.legende_3, .legende_1, .h3_activites, .afficher_plus{
    font-size: 5.9vw;
}
 .legende_2{
     font-size: 5.2vw;
 }
 .etoile, .logO, .map-marker{
     width: 5vw;
 }

 .logo_filtre{
    width: 4vw;
    height: 2.5vh;
    padding: 2vw;
 }
 
 button, .barre{
     font-size: 4.4vw;
 }

 .titre_recherche{
     font-size: 9.8vw;
 }
 .BOOKI{
     width: 50vw;
 }
 .recherche{
     overflow: auto;
 }
}

@media screen and (max-width:136px) {
    .lien_filtre{
        border: 0;
    }
    .logo_info{
        border: 0;
        width: 2vw;
        height: 1.3vh;
    }
    
}