

body{
    font-family: "Raleway", sans-serif;
 margin: 0;
 overflow: scroll;
 
}


.flex_filtres{
        display: flex;
        align-items: center;
        gap: 5%;
}

.flex_column_0{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
   
.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5% 3% 1% 1%;
}
.flex_column_3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 5px 8px;

}

.flex_column_1{
    display: flex;
    flex-direction: column;
   justify-content: space-between;
}

.flex_column_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2{
    font-weight: 800;
    padding-bottom: 2%;
}


.titre_pop{
    font-weight: 800;
    margin-left: 0.2%;
}
h3{
    font-weight: 700;
    font-size: 19px;
}
.h3_activites{
    font-weight: 800;
    margin: 1.7% 0 0.6% 0.7%;
    font-size: 19px;
}

ul{
    padding: 0;
}
li{
    list-style: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    border-top: solid  2px transparent;
    color: black; 
}

 p{
     margin: 5px;
     font-size: 17px
 }


.afficher_plus{
    font-weight: bold;
    cursor: pointer;
}


.titre_recherche {
    font-weight: 700;
    font-size: 29px;
    margin-bottom: 5px;
}

header{
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
    width: 20%;   
}

.container_liens_header{
    width: 50%;   
    display: flex;
    align-items: center;
    border-top: transparent solid 2px;
    justify-content: center;    
}

.container_liens_header:hover{
    border-top: #0065FC solid 2px;
}


a:hover{
   color: #0065FC;
}

.liens a:hover{
    color: #0065FC;
    border-top: #0065FC solid 2px;
 }

.partie_recherche{
    display: flex;
    flex-direction: column;
    margin: 2% 2.5%;

}
.recherche{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5%;
}

.barre{
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    border-left: none;
    border-right: none;
    font-weight: 700;
    font-size: 15px;
    padding: 14px;
}

button{
    
    background-color: #0065FC;
    color: #deebff;
    padding: 15px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700; 
}

.map-marker{
    border-style: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 19px; height: 19px;
    padding: 15px;
    background-color: #f2f2f2;
    object-fit:contain;
}

.partie_filtres {
    display: flex;
    border-color:#f2f2f2;
    border-radius: 39px;
   gap: 2%;  
   margin: 25px 0; 
}

.lien_filtre{
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    padding: 1px 14px 1px 0;
    border-color: #f2f2f2;
    border-radius: 45px;
    font-weight: bold; 
    transform: rotate(360deg); 
}

.logo_filtre{
   padding: 14px;
    border-radius: 50px;
    background-color:#deebff;
    width: 22px; height: 22px;
    object-fit: contain;
    transition-duration: 1s;
}

a :hover .logo_filtre{
    transform: rotate(360deg); 
     
}

.espace_filtre{
    padding: 0 0.4% ;
}

.logO{
    width: 19px; 
    cursor: pointer;
  object-fit: contain;
}

.logo_info{
    border-style: solid;
    border-color:#f2f2f2 ;
    border-radius: 68px;
  width: 9px; height: 11px;
  padding: 4px;
  object-fit: contain;
}

.etoile{
    width: 12px;
    display: flex;
    object-fit: contain;
}

.info{
    display: flex;
    align-items: center;
    margin: 2% 0;
}
.plus{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

main{
    display: flex;
    flex-flow: column wrap; 
    margin: 0 2.5%;
}

#hebergements{
    display: flex;
    width: 61%;
   flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 21px;
    padding: 3% 3% 5% 0;
}

.les_plus_populaires{
    display: flex;
    width: 28%;
    flex-direction: column;
    padding: 3.5% 2.5% 5% 2.5%;
    background-color: #f2f2f2;
    border-radius: 21px;
    border-radius: 21px;
}

.mis_en_page{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 4%;
    justify-content: space-between;
}

.liste_1{
    display: flex;
    gap: 2%; 
}

.liste_2{
    display: flex;
    gap: 2%; 
}

#activites{
    display: flex;
    flex-direction: column;
    margin: 2% 0;
}
.descriptif{

display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 20.2px;
    margin-bottom: 4%;
    cursor: pointer;
    padding: 5px;
    box-shadow: 1px 1px 12px #1d1d1d1c;
    width: 100%;
    height: 241px;
}
.descriptif_absolu{

    display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: white;
        border-radius: 20.2px;
        margin-bottom: 4%;
        cursor: pointer;
        padding: 5px;
        box-shadow: 1px 1px 12px #1d1d1d1c;
        width: 100%;
        height: 241px;
    }

.descriptif_2{
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 20.2px;  
    cursor: pointer;
    box-shadow:1px 1px 12px #1d1d1d1c;
    padding: 5px;
    height: 150px;
    
}

.descriptif_haute{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20.2px;  
    width: 396px;
    height: 531px;
    cursor: pointer;
    box-shadow:1px 1px 12px #1d1d1d1c;
}

.descriptif_petite{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20.2px;   
    height: 226px;
    width: 341px;
    cursor: pointer;
    box-shadow:1px 1px 12px #1d1d1d1c; 
}

.legende_1{
    margin-top: 0.3%;
    margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
   
}

.legende_2{
    display: flex;
    margin-top: 0.7%;
    margin-bottom: 0;
    font-size: 17px;
   
}

.legende_3{
    margin: 0;
    margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
  
}

.flex_align {
    display: flex;
    margin: 6.7px 0 0 4px;
}

.duo{
    display: flex;
}

.liste_plus_populaires{
    display: flex;
    flex-flow:column nowrap;
    gap:50px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: #f2f2f2;
}

.liste_activites{
    display: flex;
    height: 100%;
    justify-content: space-between;
    border-radius: 26px;   
}

.photo{
    width: 100%;
    height: 166px;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    object-fit: cover;   
}

.photo_fin{
    width: 100%;
    height: 169px;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    object-fit: cover;  
}

.photo_pop{
    width: 146px;
    height: 149px;
    border-bottom-left-radius:17px;
    border-top-left-radius:17px;
    object-fit: cover;
}

.photo_haute{
    width: 396px;
    height: 466px;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    object-fit: cover;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin-top: 6%;
    padding: 1% 13.5% 3.8% 5.5%;
    margin-left: 0;
    margin-bottom: 0;
}


.article_footer{
    display: flex;
    flex-direction: column;    
}
@media screen and (max-width:1632px){
   .descriptif_haute{
       width: 308px;
       height: 479px;
   }
   .photo_haute{
       width: 308px;
       height: 426px;
   }
   .descriptif_petite{
       width: 276px; height: 191px;
   }
   .photo_fin{
       height: 142px;
   }
   
}
@media screen and (max-width:1300px){
    .legende_1{
        font-size: 17px;
    }
    .descriptif{
        height: 160px;
    }
    .photo{
        height: 99px;
    }
    .descriptif_2{
        height: 108px;
    }
    .photo_pop{
        height: 108px; width: 105px;
    }
    .liste_plus_populaires{
        gap: 25px
    }
    .photo_haute{
        width: 200px;
        height: 333px;
    }
    .descriptif_haute{
        width: 200px;
    height: 386px;
    }
    .descriptif_petite{
        width: 211px;
    height: 172px;
    }
    .photo_fin{
        height: 125px;
    }
    .h3_activites{
        font-size: 16px;
    }
    .container{
        width: 32%;
    }
}

@media screen and (max-width:1204px) {
    .legende_1{
        font-size: 15px;
    }
    .legende_2{
        font-size: 15px;
    }
    .legende_3{
        font-size:15px
    }
}
@media screen and (max-width:1076px){

    .legende_1{
        font-size: 14px;
    }
    .legende_2{
        font-size: 14px;
    }
}
@media screen and (max-width:1012px){

    .legende_1{
        font-size: 13px;
    }
    .legende_2{
        font-size: 13px;
    }
}

@media screen and (max-width:992px) {

    header{
        justify-content: space-around;

    }
    main{
        margin: 0;
    }
    
    .les_plus_populaires{
        width: 100%;
        padding: 5% 0;
    }

    .mis_en_page{
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;
    }
    .partie_recherche{
        margin-left: 0;
        align-items: center;
    }
    .flex_filtres{
        flex-wrap: wrap;
    }
    .flex_column_0{
        margin-left: 0;
        align-items: center;
    }

    .plus{
        justify-content: center;
        gap: 2%;
    }
    .flex_column{
        margin: 1.5% 3% 3% 2%;
    }

    .partie_filtres{
        gap: 0;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .info{
        justify-content: center;
    }

    .titre_filtre{
        text-align: middle;
    }
    
    .afficher_plus{
        display: flex;
    }

    .liste_plus_populaires{
        gap: 2%;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center
    }
    #hebergements{
        padding: 5% 0;
    }

    #activites{
        flex-direction: column;
        align-items: center;
    }

    .mis_en_page{
        margin: 0;
    }

   .descriptif{
    width: 100%;
    height: 100%;
   }

    .descriptif_2{
        width: 291px;
        height: 134px;
        padding: 0.7% 0.8% 0.5% 0.7%;
    }
   
    .photo_pop{
        height: 131px;
    }
    .photo{
        height: 166px;
    }
    #hebergements{
        width: 100%;
    }
    .liste_activites{
        flex-flow: row wrap;
    }
    .flex_column_1{
        flex-direction: column
    }
    .flex_column_2{
        flex-direction: row;
        gap: 20px;
    }
    .descriptif_haute{
        width: 199px;
    height: 386px;
    }
    .photo_haute{
        width: 198px
    }
    .photo_fin{
    width: 253px;
    }
    .descriptif_petite{
        width: 253px;
    }
    .liste_activites{
        justify-content: center;
        gap: 20px;
    }

}


@media screen and (max-width:768px) {

    .BOOKI{
        font-size: 3%;
    }
    .recherche{
        padding: 5.5% 0px;
    }

    .partie_filtres{
        align-items: flex-start;
    }
        .legende_1{
            font-size: 32px;
        }

        .legende_3{
            font-size: 36px;
    font-weight: 700;
        }

    main{
        display: block;
        width: 100%;
        margin: 3% 0;
        align-content: stretch
    }
    
    header{
        flex-direction: column;
        align-items: center;
    }

    #activites{
        gap: 4%;
        margin: 10% 0;
    }
    .info{
        font-size: 70%;
    }
    .partie_recherche{
        margin: 2% 10.5%;
        align-items: flex-start;
    }

    .container{
        width: 100%;
        justify-content: space-around;
    }

    .container_liens_header {
        font-size: 24px;
        width: 100%;
        display: flex;
        align-items: center;
       border-top: none 0;
        border-bottom: transparent solid 2px;
        justify-content: center;
        padding-bottom: 2%; 
    }

    .container_liens_header:hover{
        color: #0065FC;
        border-top: none 0;
        border-bottom: #0065FC solid 2px;
     }

     a{
        border-top: none 0;
        font-size: 20px;
        border-bottom: transparent solid 2px;
     }
     p, .p_info{
         font-size: 20px;
     }

     .BOOKI{
         margin: 4%;
         padding-left: 10%;
     }

    .titre_filtre{
        margin: 3% 3%;
        font-size: 28px;
    }
    
    .flex_filtres{
        flex-wrap: wrap;
    }

    .mis_en_page{
        flex-direction: column-reverse;
        margin-top: 0;
    }
    
    .les_plus_populaires{
        margin-top: 0;
        margin-left: 0;
        border-radius: 0;
        display: block;
    }

    .liste_plus_populaires{
        align-items: center;
        padding-bottom: 4%;
        gap: 25px;  
    }

    .titre_pop{
        font-size: 38px;
       padding-bottom: 27px;
    }
    
    button{
        position: relative;
        right: 6%;
        background-color: #0065FC;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 32px;
        background-image: url(img/magnifying-glass.png);
        padding: 36px;
        border: #f2f2f2 1px solid;
        border-radius: 17px;
    }
    .hidden{
        display:none;
    }   
     .logo_filtre{
        width: 26px;
    height: 27px;
    padding: 13px;
    border-radius: 89px;
    }
    .map-marker{
        height: 5%;
    padding: 25px 25px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    }

    .logO{
        width: 35px;  
    }
    
    .barre{
        width: 384px;
    padding: 14px;
    font-size: 39px;
    }

    .descriptif_2{
        width: 93%;
        height: 204px;
        padding: 9px;
        border-radius: 29px;

    }

    .photo_pop{   
        background-size: contain;
        border-bottom-left-radius: 17px;
        border-top-left-radius: 17px;
        height: 201px;
    width: 239px;
      
    }

    .plus{
        justify-content: space-between;
        padding-left: 4%;
    }

    #hebergements {
        background-color: transparent;
        justify-content: flex-start;
       
    }

    .liste_1{
        width: 100%;
        gap: 60px; 
        justify-content: flex-start; 
        flex-direction: column;  
        padding-bottom: 60px;   
    }

    .liste_2{
        width: 100%;
        gap: 60px; 
        justify-content: flex-start;  
        flex-direction: column;   
    }
    
    .h3_activites{
        font-size: 4.7%;
        font-weight:700;
    }

    .legende_2{
        font-size: 20px;
    }
    h3{
        font-size: 33px;
    }

    .flex_align_2{
        margin: 0;
    }

    .flex_align_3{
        margin: 0;
    }

    .flex_align_4{
        margin: 0;
    }

    .titre_hebergements{
       
        font-size: 38px;
    }

    .flex_column{
        margin: 3.5% 3% 3% 2%;
    }
    .flex_column_1{
        align-items: center;
        gap: 60px;
        width: 100%;
    }
    .flex_column_2{
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 60px;
    }
    .descriptif{
        width: 93%;
        height: 394px;
        padding: 9px;
        margin-bottom: 0;
        gap: 0.3%;
        border-radius: 33px;
        justify-content: flex-start;
    }
    .grid{
        width: 100%;
    }
    .lien_filtre{
        border-width: 2px;
    }

    .photo{
        width: 100%; height: 291px;
        border-top-left-radius: 33px;
        border-top-right-radius: 33px;
        background-size: contain;
    }

    .descriptif_haute{
        border-radius: 29px;
        width: 95%;
        height: 430px;
    }

    .descriptif_petite{
        border-radius: 6%;
        width: 95%;
        height: 430px;
    }
    
    .photo_fin{
        width:  100%;
        background-size: contain;
        border-top-left-radius: 47.2px;
        border-top-right-radius: 47.2px;
    }

    .photo_haute{
        width: 100%;
        background-size: contain;
        border-top-left-radius: 29px;
        border-top-right-radius: 29px;
    }
    .photo_fin{
        height: 330px;
        border-top-left-radius: 29px;
        border-top-right-radius: 29px;
    }

    .afficher_plus{
        justify-content: flex-start;
        font-size: 35px;
    }

    .etoile{
        width: 16px;
    height: 16px;
    }

    .les_plus_populaires{
        gap: 60px;
        align-items: flex-start;
    }
    .titre_recherche{
        font-size: 38px;
        margin-left: 0;
    }

    #activites{
        align-items: flex-start; 
    }

    .h3_activites{
        font-size: 33px;
        
    }
    .logo_info{
        width: 9px; height: 19px;
        padding: 14px;
        border-radius: 7px;
    }

    .liste_activites{
        gap: 60px; 
        margin-top: 20px;
    }

    
    .flex_column_0{
        width: 100%;
        align-items: flex-start;
        gap: 30px;
    }

    footer{
        flex-direction: column;
        gap: 0;
        margin-top: 12%;
        padding: 1% 0.5% 3.8% 5.5%;;
    }
    
    .article_footer{
        margin-bottom: 3%;

    }
    h2{
        font-size: 42px;
    }
}
@media screen and (max-width:628px){
    button{
        background-size: 20px;
        padding: 25px;
    }

    .barre{
        width: 228px;
    padding: 13px;
    font-size: 20px;
    }

    .map-marker{
        padding: 11px 11px;
    }


    
}
@media screen and (max-width: 575px){
    .h3_activites{
        margin-top: 4px;
    }
    .legende_3{
        font-size: 22px;
    }
    .legende_2 {
        font-size: 19px;
    }
    .photo_pop{
        width: 175px;
    }
    .legende_1{
        font-size: 22px;
    }
    .photo{
        height: 213px;
    }
    .descriptif{
        height: 317px;
    }
    .h3_activites{
        font-size: 22px;  
      }
      .descriptif_haute, .descriptif_petite{
          height: 307px;
      }
      .photo_fin, .photo_haute{
          height: 239px;
      }
}
@media screen and (max-width: 397px){
    .barre{
        width: 158px;
    }
}

@media screen and (max-width: 300px) {

    .BOOKI{
    width: 58%;

    }
    .flex_column_1,.flex_column_0, .flex_column_2, .liste_activites, .liste_1, .liste_2{
        gap: 3%;
    }
    .lien_filtre{
        border-width: 0.5px;
    }
    .flex_column,.h3_activites, footer, #activites, .flex_align, .partie_recherche, .legende_2, .legende_3, .partie_filtres{
        margin-top: 0;
    }
    .liste_plus_populaires{
        padding: 0;
    }
    
    .descriptif{
        padding: 2%;
    }

    .partie_filtres{
        margin-bottom: 0;
    }
    .info{
        margin: 0;
    }
    .logo_info{
        width: 1.4%; height: 1%;
        padding: 1%;
        border-width: 0.5px;
    }
    .descriptif_petite, .descriptif_haute {
        height: 53%;
    }
}
