

body{
    font-family: "Raleway", sans-serif;
 margin: 0;
  overflow-x: none;
 
   
}



ul{
    padding-inline-start:  0;
}

.flex_filtres{
    display: flex;
    align-items: center;
    gap: 4vw;
}

.flex_column_0{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2vw;
}
   
.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex_column_1{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.flex_column_2{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

h2{
    padding-bottom: 2vh;
}


.titre_pop{
    margin-left: 0.2vw;
}
h3{
    font-size: 19px;
}
.h3_activites{
    margin: 1.2vh 0 0.6vh 0.7vw;
    font-size: 19px;
}

li{
    list-style: none;
    cursor: pointer;
 
}

a{
    text-decoration: none;
    border-top: solid  2px transparent;
    color: black; 
    
}
 p{
     margin: 5px;
     font-size: 17px
 }


.afficher_plus{

    font-weight: bold;
    cursor: pointer;
}


.titre_recherche {
    font-size: 29px;
    margin-bottom: 5px;
}

header{
    display: flex;
    justify-content: space-between;


}

.container{
    display: flex;
    
}

.container_liens_header{
    width: 12vw;
    
    display: flex;
    align-items: center;
    border-top: transparent solid 2px;
    justify-content: center;
     
}

.container_liens_header:hover{
    border-top: #0065FC solid 2px;
}


a:hover{
   color: #0065FC;
   
}

.liens a:hover{
    color: #0065FC;
    border-top: #0065FC solid 2px;
 }

.partie_recherche{
    display: flex;
    flex-direction: column;
    margin: 1vh 2vw;

}
.recherche{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5vw;
   

}

.barre{
    color: black;
    border-style: none;
    font-weight: bold;
    font-size: 15px;
    padding: 14px;
}

button{
    
    background-color: #0065FC;
    color: #deebff;
    padding: 15px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    
}

.map-marker{
    border-style: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 19px; height: 19px;
    padding: 15px;
    background-color: #f2f2f2;
    object-fit:contain;
   
  
}

.partie_filtres {
    display: flex;
    border-color:#f2f2f2;
    border-radius: 39px;
   gap: 3vw;
    
}

.flex_filtres{
   display: flex;
   

}

.lien_filtre{
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    padding: 1px 14px 1px 0;
    border-color: #f2f2f2;
    border-radius: 45px;
    font-weight: bold;
  
    
}
.lien_filtre :hover {
    transform: rotate(360deg);
    transition-duration: 2s;

}

.filtres :hover{
    border-color: #0065FC;
    border-width: 1px;
    
}

.espace_filtre{
    padding: 0 0.4vw ;
}

.logo_filtre{
   padding: 14px;
    border-radius: 50px;
    background-color:#deebff;
    width: 22px; height: 22px;
    object-fit: contain;
    

}

.logo_filtre :hover{
    border-color: #0065FC;
    
}


.logO{
    width: 19px; height: 19px;
    cursor: pointer;
   object-fit: contain;
   
}



.logo_info{
   
    border-style: solid;
    border-color:#f2f2f2 ;
    border-radius: 50px;
  width: 11px; height: 11px;
  object-fit: contain;
}

.etoile{
    width: 12px;
    
    display: flex;
    object-fit: contain;
}

.info{
    display: flex;
    align-items: center;
    margin: 1vh 2vw;
   
}
.plus{

    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

main{
    display: flex;
    flex-flow: column wrap;
    
}
#hebergements{
    display: flex;
   flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 21px;
    padding: 3vh 2vw 3vh 0;
   
}

.les_plus_populaires{
    display: flex;
    flex-direction: column;
    padding: 3.5vh 2.5vw 0 2.5vw;
  
    background-color: #f2f2f2;
    border-radius: 21px;
    border-radius: 21px;
  
}

.mis_en_page{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 4vh;
    justify-content: space-between;
   
   
}
.liste_1{
    display: flex;
    gap: 2vw;
    
}

.liste_2{
    display: flex;
    gap: 2vw;
   
}

#activites{
    display: flex;
    flex-direction: column;
    margin: 2vw;
}

.descriptif{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 9px;  
    margin-bottom: 4vh;
    cursor: pointer;
    padding: 0.2vh 0.4vw 1vh 0.1vw;
    box-shadow: 3px 4px 2px #1d1d1d1c;
    width: 275px;
    height: 206px;
}

.descriptif_2{
    display: flex;
    background-color: white;
    border-radius: 9px;  
    cursor: pointer;
    box-shadow: 3px 4px 2px #1d1d1d1c;
    padding: 0.2vh 1vw 0 0.2vw;
    height: 139px;
    width: 421px;

}

.descriptif_haute{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 9px;  
    width: 322px;
    height: 404px;
    cursor: pointer;
    box-shadow: 3px 4px 4px #1d1d1d5b;

}

.descriptif_petite{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 9px;   
    height: 187px;
    width: 274px;
    cursor: pointer;
    box-shadow: 3px 4px 2px #1d1d1d5b;
    
}

.legende_1{
    margin-top: 0.3vh;
    margin-bottom: 0;
  font-size: 17px;
  margin-left: 0.7vw;
   
}
.legende_2{
    display: flex;

    margin-top: 0.7vh;
    margin-bottom: 0;
    font-size: 17px;
    margin-left: 0.7vw;
}

.legende_3{
    margin-top: 1.3vh;
    margin-bottom: 0;
  font-size: 17px;
  margin-left: 0.7vw;
   
}

.flex_align {
    display: flex;
    margin-left: 0.7vw;
    margin-top: 0.7vh;
    

}

.flex_align_2 {
    display: flex;
    margin: 0.4vh 0.7vw;
   

}

.flex_align_3 {
    display: flex;
    margin: 0.4vh 0.7vw;
   

}

.flex_align_4 {
    display: flex;
    margin:  0.4vh 0.7vw;
   

}



.liste_plus_populaires{
    display: flex;
    flex-flow:column wrap;
    gap:4vh;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: #f2f2f2;

}

.liste_activites{
    display: flex;
    justify-content: space-between;
    border-radius: 26px;
    
}




.photo{
    width: 282px;
    height: 130px;
    border-top-left-radius:9px;
    border-top-right-radius: 9px;
    object-fit: cover;
    
}

.photo_fin{
    width: 274px;
    height: 136px;
    border-top-left-radius:9px;
    border-top-right-radius: 9px;
    object-fit: cover;
    
}

.photo_pop{
    width: 146px;
    height: 137px;
    border-bottom-left-radius:9px;
    border-top-left-radius:9px;
    object-fit: cover;
}

.photo_haute{
    width: 322px;
    height: 348px;
    border-top-left-radius:9px;
    border-top-right-radius: 9px;
    object-fit: cover;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin-top: 6vh;
    padding: 1vh 13.5vw 3.8vh 5.5vw;
    margin-left: 0;
    margin-bottom: 0;


}


.article_footer{
    display: flex;
    flex-direction: column;
    
}

@media screen and (max-width:1485px){

    .mis_en_page{
        flex-direction: column;
        gap: 2vh;
        margin: 1vh 4vw;
    }

    .les_plus_populaires{
        padding-bottom: 3%;
    }
    .liste_plus_populaires{
        flex-direction: row;
        justify-content: center;
    }

    .info{
        margin: 1vh 4vw;
    }

    .partie_recherche{
        margin: 1vh 4vw;
    }

    main{
        gap: 2vh;
    }
    .plus{
        justify-content: flex-start;
        gap: 1vw;
    }

    .liste_1{
        width: 100%;
       justify-content: space-evenly;
    }
    .liste_2{
        width: 100%;
        justify-content: space-evenly;
    }
    


    

}
@media screen and (max-width:1261px){

    .liste_activites{
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vw;
    }
    .flex_column_2{
        flex-direction: row;
        gap: 3vh;
    }

}


@media screen and (max-width:992px) {

    header{
        justify-content: space-around;
    }

    .container_liens_header{
        width: 20vw;
    }

    .partie_recherche{
        align-items: center;
    }

    .flex_column_0{
        align-items: center;
    }
    .flex_filtres{
        flex-wrap: wrap;
    
    }
    .partie_filtres{
        gap: 0;
        flex-direction: column;
        align-items: center;
    }

    .info{
        justify-content: center;
    }

    .titre_filtre{
        text-align: middle;
    }
    .mis_en_page{
        flex-direction: column;
    }
    
    .afficher_plus{
        display: flex;
    
    }

    .plus{
     justify-content: center;
    }
    .liste_plus_populaires{
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center
    }
    #activites{
        flex-direction: column;
        align-items: center;
       
    }
    .mis_en_page{
        margin: 0;
    }

    .liste_1{
        flex-wrap: wrap;
    }
    .liste_2{
        flex-wrap: wrap;
    }
    .flex_column_2{
        flex-direction: row;
    }

    .liste_activites{
        align-items: center;
    }
    
}

@media screen and (max-width:992px){

    .flex_column_2{
        flex-direction: column;
    }
    .descriptif{
        width: 337px; height: 245px;
    }

    .descriptif_2{
        width: 489px;
        height: 216px;
    }
    .photo_pop{
        width: 215px;
    height: 214px;
    }
    .photo{
        width:340px; height: 171px;
    }
}

@media screen and (max-width:979px){

    .flex_column_2{
        flex-direction: column;
    }
}

@media screen and (max-width:911px){

    .descriptif{
        width: 338px; height: 248px;
    }

    .photo{
        width:340px; height: 171px;
    }
}

@media screen and (max-width:884px){
    .partie_filtres{
        align-items: flex-start;
    }
}

@media screen and (max-width:768px) {

        .legende_1{
            font-size: 21px;
        }

        .legende_3{
            font-size: 21px;
        }
            
    h2{
        margin-left: 4vw;
        padding-bottom: 0;
    }

    .titre_recherche{
        font-size: 29px;
    }
    .flex_column_2{
        gap: 3vh;
    }

    main{
        width: 100vw;
        margin: 3vh 0;
        align-content: stretch;

    }
    
    header{
        flex-direction: column;
        align-items: center;
    }

    #activites{
        gap: 4vh;
    }

    .container{
        width: 100%;
        justify-content: space-around;
    }

    .container_liens_header {
        width: 100%;
        display: flex;
        align-items: center;
       border-top: none 0;
        border-bottom: transparent solid 2px;
        justify-content: center;
        padding-bottom: 1vh; 
    }

    .container_liens_header:hover{
        color: #0065FC;
        border-top: none 0;
        border-bottom: #0065FC solid 2px;
     }

     a{
        border-top: none 0;
        border-bottom: transparent solid 2px;
     }
     .BOOKI{
         margin: 3vw;
         padding-left: 10vw;
     }

    .titre_filtre{
        margin: 3vh 3vw;
    }
    
    .flex_filtres{
        flex-wrap: wrap;
    }

    .mis_en_page{
        flex-direction: column-reverse;
        margin-top: 0;
    }
    
    .les_plus_populaires{
        margin-top: 0;
        margin-left: 0;
        border-radius: 0;
    }

    .liste_plus_populaires{
        align-items: center;
        padding-bottom: 4vh;
        gap: 3vh;
        
    }

    .descriptif_2{
        width: 583px;
        height: 243px;
    }

    .plus{
        gap: 53vw;
    }

    #hebergements {
        background-color: transparent;
       align-items: flex-start;
       margin-bottom: 5vh;
       margin-top: 5vh;
    }

    .liste_1{
        gap: 3vh;
           
    }

    .liste_2{
        gap: 3vh;
           
    }
    
    .h3_activites{
        font-size: 29px;
    }
   

    .flex_align_2{
        margin: 1.4vh 0.7vw;

    }

    .flex_align_3{
        margin: 1.4vh 0.7vw;

    }

    .flex_align_4{
        margin: 1.4vh 0.7vw;

    }

    .flex_align{
        padding: 1.2vh 0.8vw 1.2vh 0.8vw;
    }

    .descriptif{
        width: 583px;
    height: 343px;
    margin-bottom: 0;
    }

    .etoile{
        width: 12px;
    
    }
    .les_plus_populaires{
        gap: 3vh;
        align-items: flex-start;
    }
    .descriptif_haute{
        gap: 1vh;
        width: 583px;
        height: 343px;

    }

    .descriptif_petite{
        gap: 1vh;
        width: 583px;
        height: 343px;
    }
    .afficher_plus{
        justify-content: flex-start;
    }

    #activites{
        align-items: flex-start;
       
    }

    .h3_activites{
        font-size: 21px;
        margin: 3.7vh 0.2vw 0.6vh 3.3vw;
    }
    .liste_activites{
        gap: 3vh;
        align-items: flex-start;
    }

    .photo{
        width: 585px;
        height: 235px;
        background-size: contain;
    }

    .photo_fin{
        width: 585px;
        height: 235px;
        background-size: contain;
    }

    .photo_haute{
        width: 585px;
        height: 235px;
        background-size: contain;
    }

    .photo_pop{
        width: 247px;
        height: 242px;
        background-size: contain;
    }
    
    .flex_column_0{
        align-items: flex-start;
        gap: 3vh;
    }

    .afficher_plus{
        font-size: 19px;
    }

    footer{
        flex-direction: column;
        gap: 0;

    }
    
    .article_footer{
        margin-bottom: 3vh;

    }
}
@media screen and (max-width:623px){

    .descriptif{
        width: 463px;

    }
    .descriptif_2{
        width: 463px;
    }

    .photo{
        width: 464px;
    }
    .photo_haute{
        width: 464px;
    }
    .photo_pop{
        width: 219px;
        
    }
    .h3_activites{
        margin: 0;
    }

    .photo_fin{
        width: 464px;
    }

    .descriptif_haute{
        width: 463px;
        height: 306px;
    }
    .descriptif_petite{
        width: 463px;
        height: 306px;
    }
    .plus{
        gap: 44vw;

    }
}


@media screen and (max-width:506px){
    .descriptif{
        width: 365px;

    }
    .descriptif_2{
        width: 365px;
    }

    .photo{
        width: 365px;
    }
    .photo_haute{
        width: 365px;
    }

    .photo_fin{
        width: 365px;
    }

    .descriptif_haute{
        width: 365px;
    }
    .descriptif_petite{
        width: 365px;
    }
    .photo_pop{
        width: 165px;
        
    }

}

@media screen and (max-width:413px){

    .descriptif{
        width: 265px;
        height: 287px;

    }

    .descriptif_2{
        width: 265px;
        height: 200px;
    }
    .legende_2{
        margin-top: 0;
    }

    .h3_activites{
        margin:0
    }
    .flex_align{
        padding: 0;
    }

    .photo{
        width: 265px;
        height: 196px;
        border-radius: 4px;
    }
    .photo_haute{
        width: 265px;
        height: 224px;
    }
    .photo_pop{
        width: 165px;
        height: 198px;
        border-radius: 4px;
        
    }

    .photo_fin{
        width: 265px;
        height: 224px;
    }

    .descriptif_haute{
        width: 265px;
        height: 289px;
    }
    .descriptif_petite{
        width: 265px;
        height: 289px;
    }
    .liste_1{
        gap: 1vh;      
    }

    .liste_2{
        gap: 1vh;      
    }
    .liste_activites{
        gap: 3vh;
    }

    .flex_column_2{
        gap: 3vh;
    }

    .flex_column_0{
        gap: 1vh
    }

}




@media screen and (max-width:412px){

    .map-marker{
        padding: 2vw;
    }

    .barre{
        padding: 2vw;
        width: 28vw;
    }

    button{
        padding: 2vw;
    }
    .container_liens_header{
        margin: 0vh 2vw;
    }

}



