

body{
    font-family: "Raleway", sans-serif;
 margin: 0;
 overflow: scroll;
 
}


.flex_filtres{
    display: flex;
    align-items: center;
    gap: 4vw;
}

.flex_column_0{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}
   
.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5vh 3vw 1vh 1vw;
}
.flex_column_3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 5px 8px;

}

.flex_column_1{
    display: flex;
    flex-direction: column;
   justify-content: space-between;
}

.flex_column_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2{
    font-weight: 800;
    padding-bottom: 2vh;
}


.titre_pop{
    font-weight: 800;
    margin-left: 0.2vw;
}
h3{
    font-weight: 700;
    font-size: 19px;
}
.h3_activites{
    font-weight: 800;
    margin: 1.7vh 0 0.6vh 0.7vw;
    font-size: 19px;
}

ul{
    padding: 0;
}
li{
    list-style: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    border-top: solid  2px transparent;
    color: black; 
}

 p{
     margin: 5px;
     font-size: 17px
 }


.afficher_plus{
    font-weight: bold;
    cursor: pointer;
}


.titre_recherche {
    font-weight: 700;
    font-size: 29px;
    margin-bottom: 5px;
}

header{
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;   
}

.container_liens_header{
    width: 12vw;   
    display: flex;
    align-items: center;
    border-top: transparent solid 2px;
    justify-content: center;    
}

.container_liens_header:hover{
    border-top: #0065FC solid 2px;
}


a:hover{
   color: #0065FC;
}

.liens a:hover{
    color: #0065FC;
    border-top: #0065FC solid 2px;
 }

.partie_recherche{
    display: flex;
    flex-direction: column;
    margin: 2vh 2.5%;

}
.recherche{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5vw;
}

.barre{
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    border-left: none;
    border-right: none;
    font-weight: 700;
    font-size: 15px;
    padding: 14px;
}

button{
    
    background-color: #0065FC;
    color: #deebff;
    padding: 15px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700; 
}

.map-marker{
    border-style: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 19px; height: 19px;
    padding: 15px;
    background-color: #f2f2f2;
    object-fit:contain;
}

.partie_filtres {
    display: flex;
    border-color:#f2f2f2;
    border-radius: 39px;
   gap: 3vw;   
}

.flex_filtres{
   display: flex;
}

.lien_filtre{
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    padding: 1px 14px 1px 0;
    border-color: #f2f2f2;
    border-radius: 45px;
    font-weight: bold; 
    transform: rotate(360deg); 
}

.logo_filtre{
   padding: 14px;
    border-radius: 50px;
    background-color:#deebff;
    width: 22px; height: 22px;
    object-fit: contain;
    transition-duration: 1s;
}

a :hover .logo_filtre{
    transform: rotate(360deg); 
     
}

.espace_filtre{
    padding: 0 0.4vw ;
}

.logO{
    width: 19px; 
    cursor: pointer;
  object-fit: contain;
}

.logo_info{
    border-style: solid;
    border-color:#f2f2f2 ;
    border-radius: 68px;
  width: 9px; height: 11px;
  padding: 4px;
  object-fit: contain;
}

.etoile{
    width: 12px;
    display: flex;
    object-fit: contain;
}

.info{
    display: flex;
    align-items: center;
    margin: 2vh 2.5%;
}
.plus{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

main{
    display: flex;
    flex-flow: column wrap; 
    margin: 0 2.5%;
}

#hebergements{
    display: flex;
    width: 61%;
   flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 21px;
    padding: 3vh 2vw 3vh 0;
}

.les_plus_populaires{
    display: flex;
    width: 28%;
    flex-direction: column;
    padding: 3.5vh 2.5vw 5vh 2.5vw;
    background-color: #f2f2f2;
    border-radius: 21px;
    border-radius: 21px;
}

.mis_en_page{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 4vh;
    justify-content: space-between;
}

.liste_1{
    display: flex;
    gap: 2vw; 
}

.liste_2{
    display: flex;
    gap: 2vw; 
}

#activites{
    display: flex;
    flex-direction: column;
    margin: 2vh 0;
}
.descriptif{

display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 20.2px;
    margin-bottom: 4vh;
    cursor: pointer;
    padding: 5px;
    box-shadow: 1px 1px 12px #1d1d1d1c;
    width: 100%;
    height: 241px;
}
.descriptif_absolu{

    display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: white;
        border-radius: 20.2px;
        margin-bottom: 4vh;
        cursor: pointer;
        padding: 5px;
        box-shadow: 1px 1px 12px #1d1d1d1c;
        width: 100%;
        height: 241px;
    }

.descriptif_2{
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 20.2px;  
    cursor: pointer;
    box-shadow:1px 1px 12px #1d1d1d1c;
    padding: 0.3vw 0.3vw 0.2vw 0.3vw;
    height: 150px;
    
}

.descriptif_haute{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20.2px;  
    width: 396px;
    height: 531px;
    cursor: pointer;
    box-shadow:1px 1px 12px #1d1d1d1c;
}

.descriptif_petite{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20.2px;   
    height: 226px;
    width: 341px;
    cursor: pointer;
    box-shadow:1px 1px 12px #1d1d1d1c; 
}

.legende_1{
    margin-top: 0.3vh;
    margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
   
}

.legende_2{
    display: flex;
    margin-top: 0.7vh;
    margin-bottom: 0;
    font-size: 17px;
   
}

.legende_3{
    margin: 0;
    margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
  
}

.flex_align {
    display: flex;
    margin: 6.7px 0 0 4px;
}

.duo{
    display: flex;
}

.liste_plus_populaires{
    display: flex;
    flex-flow:column wrap;
    gap:4vh;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: #f2f2f2;
}

.liste_activites{
    display: flex;
    height: 100%;
    justify-content: space-between;
    border-radius: 26px;   
}

.photo{
    width: 100%;
    height: 166px;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    object-fit: cover;   
}

.photo_fin{
    width: 100%;
    height: 169px;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    object-fit: cover;  
}

.photo_pop{
    width: 146px;
    height: 149px;
    border-bottom-left-radius:17px;
    border-top-left-radius:17px;
    object-fit: cover;
}

.photo_haute{
    width: 396px;
    height: 466px;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    object-fit: cover;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin-top: 6vh;
    padding: 1vh 13.5vw 3.8vh 5.5vw;
    margin-left: 0;
    margin-bottom: 0;
}


.article_footer{
    display: flex;
    flex-direction: column;    
}
@media screen and (max-width:1638px){
    .liste_activites{
        flex-wrap: wrap;
        justify-content: center;
        gap: 3vw;
    }

    .flex_column_2{
        flex-direction: row;
        gap: 3vw;
    }
   
}

@media screen and (max-width:1296px){

    .mis_en_page{
        flex-direction: column;
        gap: 3vh;
    }

    #hebergements{
        width: 98%;
    }
    .les_plus_populaires{
        width: 95%;
    }

    .liste_plus_populaires{
        flex-flow: row nowrap;
        flex-direction: row;
    }

}

@media screen and (max-width:1272px) {
    .flex_column_2{
        flex-direction: column;
    }
    .flex_column_1{
       flex-direction: column;
    }
}
@media screen and (max-width:1191px){

    .liste_plus_populaires{
        flex-flow: row wrap;
        justify-content: center;
    }
    .descriptif_2{
        width: 40%;
    }
}

@media screen and (max-width:992px) {

    header{
        justify-content: space-around;

    }
    main{
        margin: 0;
    }

    .grid{
        display: grid;
        grid-template-rows: 31vh 30vh 36vh;
        grid-template-columns: 38vw 38vw;
        gap: 6vw;
    
    }

    .container_liens_header{
        width: 20vw;
    }

    .partie_recherche{
        align-items: center;
    }
    .liste_1, .liste_2{
        flex-direction: column;
    }


    .flex_column_0{
        align-items: center;
    }

    .plus{
        justify-content: center;
        gap: 2vw;
    }
    .flex_column{
        margin: 1.5vh 3vw 3vh 2vw;
    }
    .flex_filtres{
        flex-wrap: wrap;
    
    }

    .partie_filtres{
        gap: 0;
        flex-direction: column;
        align-items: center;
    }

    .info{
        justify-content: center;
    }

    .titre_filtre{
        text-align: middle;
    }

    .mis_en_page{
        flex-direction: column;
    }
    
    .afficher_plus{
        display: flex;
    }

    .liste_plus_populaires{
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center
    }

    #activites{
        flex-direction: column;
        align-items: center;
    }

    .mis_en_page{
        margin: 0;
    }

    .flex_column_2{
        flex-direction: column;
    }

   .descriptif{
    width: 100%;
    height: 100%;

   }

    .descriptif_2{
        width: 489px;
        height: 216px;
        padding: 0.7vw 0.8vw 0.5vw 0.7vw;
    }
   
    .photo_pop{
        height: 214px;
    }
    .photo{
        height: 166px;
    }
}

@media screen and (max-width:979px){

    .flex_column_2{
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {

    .BOOKI{
        font-size: 3vw;
    }
    
    .grid{
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .partie_filtres{
        align-items: flex-start;
    }
        .legende_1{
            font-size: 4.7vw;
        }

        .legende_3{
            font-size: 4.7vw;
        }
            
    h2{
        margin-left: 4vw;
        padding-bottom: 0;
        font-size: 5.7vw;
    }

    
    main{
        display: block;
        width: 100vw;
        margin: 3vh 0;
        align-content: stretch
    }
    
    header{
        flex-direction: column;
        align-items: center;
    }

    #activites{
        gap: 4vh;
        margin: 10vh 0;
    }

    .container{
        width: 100%;
        justify-content: space-around;
    }

    .container_liens_header {
        width: 100%;
        display: flex;
        align-items: center;
       border-top: none 0;
        border-bottom: transparent solid 2px;
        justify-content: center;
        padding-bottom: 2vh; 
    }

    .container_liens_header:hover{
        color: #0065FC;
        border-top: none 0;
        border-bottom: #0065FC solid 2px;
     }

     a{
        border-top: none 0;
        font-size: 2.7vw;
        border-bottom: transparent solid 2px;
     }
     p, .p_info{
         font-size: 2.7vw;
     }

     .BOOKI{
         margin: 4vw;
         padding-left: 10vw;
     }

    .titre_filtre{
        margin: 3vh 3vw;
        font-size: 4vw;
    }
    
    .flex_filtres{
        flex-wrap: wrap;
    }

    .mis_en_page{
        flex-direction: column-reverse;
        margin-top: 0;
    }
    
    .les_plus_populaires{
        margin-top: 0;
        margin-left: 0;
        border-radius: 0;
        display: block;
    }

    .liste_plus_populaires{
        align-items: center;
        padding-bottom: 4vh;
        gap: 3vh;  
    }

    .titre_pop{
       padding-bottom: 27px;
    }
    
    button{
        position: relative;
        right: 6vw;
        background-color: #0065FC;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(img/magnifying-glass.png);
        padding: 4.2vw;
        border: #f2f2f2 1px solid;
        border-radius: 12px;
    }
    .hidden{
        display:none;
    }   
     .logo_filtre{
        width: 3vw;
        height: 0%;
        padding: 2vw;
        border-radius: 7vw;
    }
    .map-marker{
        height: 5vw;
    padding: 1.9VW 2.9vw;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    }

    .logO{
        width: 5vw;  
    }
    
    .barre{
        width: 58vw;
        height: 4.7vw;
        padding: 1.9vw;
        font-size: 4vw;
    }

    .descriptif_2{
        width: 93%;
    height: 37.2vw;
    padding: 1.2vw 1.8vw 1.1vw 1.3vw;
    border-radius: 6vw;

    }

    .photo_pop{   
        background-size: contain;
        border-bottom-left-radius: 5vw;
        border-top-left-radius: 5vw;
        height: 37vw;
        width: 36vw;
      
    }

    .plus{
        justify-content: space-between;
        padding-left: 4vw;
    }

    #hebergements {
        background-color: transparent;
        justify-content: flex-start;
       
    }

    .liste_1{
        width: 100%;
        gap: 6vh; 
        justify-content: flex-start; 
        flex-direction: column;     
    }

    .liste_2{
        width: 100%;
        gap: 6vh; 
        justify-content: flex-start;  
        flex-direction: column;   
    }
    
    .h3_activites{
        font-size: 4.7vw;
        font-weight:700;
    }

    .legende_2{
        font-size: 2.7vw;
    }
    h3{
        font-size: 4.7vw;
    }

    li{
    font-size: 2.8vw;
    }

    .flex_align_2{
        margin: 0;
    }

    .flex_align_3{
        margin: 0;
    }

    .flex_align_4{
        margin: 0;
    }

    .titre_hebergements{
       
        font-size: 6.3vw;
    }

    .flex_column{
        margin: 3.5vh 3vw 3vh 2vw;
    }
    .flex_column_1{
        align-items: center;
        gap: 6vh;
        width: 100%;
    }
    .flex_column_2{
        align-items: center;
        width: 100%;
        gap: 6vh;
    }
    .descriptif{
        width: 93%;
        height: 61.2vw;
        padding: 9px;
        margin-bottom: 0;
        gap: 0.3vh;
        border-radius: 6vw;
        justify-content: flex-start;
    }
    .lien_filtre{
        border-width: 2px;
    }

    .photo{
        width: 100%;
        height: 40vw;
        border-top-left-radius: 4vw;
        border-top-right-radius: 4vw;
        background-size: contain;
    }

    .descriptif_haute{
        border-radius: 6vw;
        width: 95vw;
        height: 52vw;
    }

    .descriptif_petite{
        border-radius: 6vw;
        width: 95vw;
        height: 52vw;
    }
    
    .photo_fin{
        width:  95.1vw;
        height: 40vw;
        background-size: contain;
        border-top-left-radius: 47.2px;
        border-top-right-radius: 47.2px;
    }

    .photo_haute{
        width: 95.1vw;
        height: 40vw;
        background-size: contain;
        border-top-left-radius: 6vw;
        border-top-right-radius: 6vw;
    }
    .photo_fin{
        border-top-left-radius: 6vw;
        border-top-right-radius: 6vw;
    }

    .afficher_plus{
        justify-content: flex-start;
        font-size: 4.7vw;
    }

    .etoile{
        width: 3.2vw;
        height: 7.2vw;
    }

    .les_plus_populaires{
        gap: 6vh;
        align-items: flex-start;
    }
    .titre_recherche{
        font-size: 5.7vw;
        margin-left: 0;
    }

    #activites{
        align-items: flex-start; 
    }

    .h3_activites{
        font-size: 4.7vw;
        
    }

    .liste_activites{
        gap: 6vh; 
    }

    
    .flex_column_0{
        width: 100%;
        align-items: flex-start;
        gap: 6vh;
    }

    footer{
        flex-direction: column;
        gap: 0;
        margin-top: 12vh;
        padding: 1vh 0.5vw 3.8vh 5.5vw;;
    }
    
    .article_footer{
        margin-bottom: 3vh;

    }
}
@media screen and (max-width: 420px){
    .h3_activites{
        margin-top: 4px;
    }
}

@media screen and (max-width: 300px) {

    .BOOKI{
    width: 58vw;

    }
    .flex_column_1,.flex_column_0, .flex_column_2, .liste_activites, .liste_1, .liste_2{
        gap: 3vh;
    }
    .lien_filtre{
        border-width: 0.5px;
    }
    .flex_column,.h3_activites, footer, #activites, .flex_align, .partie_recherche, .legende_2, .legende_3, .partie_filtres{
        margin-top: 0;
    }
    .liste_plus_populaires{
        padding: 0;
    }
    
    .descriptif{
        padding: 2vw;
    }

    .partie_filtres{
        margin-bottom: 0;
    }
    .info{
        margin: 0;
    }
    .logo_info{
        width: 1.4vw; height: 1vh;
        padding: 1vw;
        border-width: 0.5px;
    }
    .descriptif_petite, .descriptif_haute {
        height: 53vw;
    }
}
