
body{
    font-family: "Raleway", sans-serif;
    
}

.flex {
    display: flex;
    align-items: center;
    margin: 0 12px 0 22px;
}

.titre{
    font-size: 39px;
}
li{
    list-style: none;
 
}

a{
    text-decoration: none;
    color: black; 
    
}
 p{
     margin-left: 9px;
 }


a:hover{
    color: #0065FC;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_liens_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.liens_header{
    padding-right:100px;
}

.recherche{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 29px;

}

.barre{
    padding: 10px;
    border-style: none;
    font-weight: bold;
    
}

button{
    padding: 10px;
    background-color: #0065FC;
    color: #deebff;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    
}

.map-marker{
    border-style: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px;
    width: 15px; height: 15px;
    background-color: #f2f2f2;
}

.filtres {
    display: flex;
    padding-inline-start: 0%;
    align-items: center;
    border-color:#f2f2f2;
    border-radius: 39px;
    font-size: 19px;
    
}
.espace_filtre{
    padding-left: 10px;
}

.logo_filtre{
    padding: 15px;
    border-radius: 50px;
    background-color:#deebff;
    width: 19px; height: 19px;

}

.lien_filtre :hover{
    width: 23px; height: 23px;

}

.lien_filtre{
    display: flex;
    align-items: center;
    border-style: solid;
    border-color:#f2f2f2 ;
    border-radius: 45px;
    padding-right: 19px;
    font-weight: bold;
    
}

.logo_info{
    padding: 5px;
    border-style: solid;
    border-color:#f2f2f2 ;
    border-radius: 50px;
  width: 11px; height: 11px;
}

.info{
    display: flex;
    align-items: center;
    align-content: space-around;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
#hebergements{
    display: flex;
   flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 29px;
}
.mis_en_page{
    display: flex;
    flex-flow: row nowrap;
}
.liste_hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; height: 100%;
    border-radius: 26px;

}
.descriptif{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 26px;
    
   
    
}

.liste_plus_populaires{
    display: flex;
    flex-wrap: wrap;
    width: 100%; height: 100%;
    border-radius: 26px;

}

.liste_activites{
    display: flex;
    flex-wrap: wrap;
    width: 100%; height: 100%;
    border-radius: 26px;

}


.photo{
    width: 200px; height: 120px;
    border-radius:26px;
}

footer{
    display: flex;
    gap: 300px;
    background-color: #f2f2f2;


}

footer h3{
    margin-bottom: 0px;
}


.article_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 129px;
}