

body{
    font-family: "Raleway", sans-serif;
 margin: 0;
 overflow: scroll;
 
}
article{
    height: 100%;
}


.flex_filtres{
        display: flex;
        align-items: center;
        gap: 5%;
}

.flex_column_0{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
   
.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5% 3% 2% 1%;
}
.flex_column_3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 5px 8px;

}

.flex_column_1{
    width: 100%;
    display: flex;
    flex-direction: column;
   gap: 10%;
}

.flex_column_2{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12%;
}

h2{
    font-weight: 800;
    padding-bottom: 2%;
}

.titre_activites{
    font-weight: 800;
    padding-bottom: 2%;
}
.titre_pop{
    font-weight: 800;
    margin-left: 0.2%;
    white-space: nowrap;
    margin-bottom: 7%;

}
h3{
    font-weight: 700;
    font-size: 19px;
}
.h3_activites{
    font-weight: 700;
    padding: 2.7% 0 6.6% 4.7%;
    font-size: 19px;
    margin: 0;
}

ul{
    padding: 0;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black; 
}
.article_pop{
    display: flex;
    width: 100%;
}

 p{
     margin: 5px;
     font-size: 17px
 }


.afficher_plus{
    font-weight: bold;
}


.titre_recherche {
    font-weight: 700;
    font-size: 29px;
    margin-bottom: 5px;
}

header{
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
    width: 20%;   
}

.container_liens_header{
    width: 50%;   
    display: flex;
    align-items: center;
    border-top: transparent solid 2px;
    justify-content: center;  

}

.container_liens_header:hover{
    border-top: #0065FC solid 2px;
}


a:hover{
   color: #0065FC;
}

.liens a:hover{
    color: #0065FC;
    border-top: #0065FC solid 2px;
 }

.partie_recherche{
    display: flex;
    flex-direction: column;
    margin: 2% 2.5%;

}
.recherche{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5%;
}

.barre{
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    border-left: none;
    border-right: none;
    font-weight: 700;
    font-size: 15px;
    padding: 14px;
}

button{
    
    background-color: #0065FC;
    color: #deebff;
    padding: 15px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700; 
}

.map-marker{
    border-style: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 19px; height: 19px;
    padding: 15px;
    background-color: #f2f2f2;
    object-fit:contain;
}

.partie_filtres {
    display: flex;
    border-color:#f2f2f2;
    border-radius: 39px;
   gap: 2%;  
   margin: 25px 0; 
}

.lien_filtre{
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    padding: 1px 14px 1px 0;
    border-color: #f2f2f2;
    border-radius: 45px;
    font-weight: bold; 
    transform: rotate(360deg); 
}

.logo_filtre{
   padding: 14px;
    border-radius: 50px;
    background-color:#deebff;
    width: 22px; height: 22px;
    object-fit: contain;
    transition-duration: 1s;
}

a :hover .logo_filtre{
    transform: rotate(360deg); 
     
}

.espace_filtre{
    padding: 0 0.4% ;
}

.logO{
    width: 19px; 
  object-fit: cover;
}

.logo_info{
    border-style: solid;
    border-color:#f2f2f2 ;
    border-radius: 68px;
  width: 9px; height: 11px;
  padding: 4px;
  object-fit: contain;
}

.etoile{
    width: 12px;
    display: flex;
    object-fit: cover;
}

.info{
    display: flex;
    align-items: center;
    margin: 2% 0;
}
.plus{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

main{
    display: flex;
    flex-flow: column wrap; 
    margin: 0 2.5%;
}

#hebergements{
    display: flex;
    width: 61%; height: 88%;
   flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 21px;
    padding: 3% 3% 2% 0;
}

.les_plus_populaires{
    display: flex;
    width: 28%; height: 86%;
    flex-direction: column;
    padding: 3% 3% 3% 2%;
    background-color: #f2f2f2;
    border-radius: 21px;
    border-radius: 21px;
}

.mis_en_page{
    display: flex;
    flex-wrap: nowrap;
    height: 800px;
    justify-content: space-between;
    align-items: baseline;
}

.liste_1{
    display: flex;
    gap: 4%; 
    margin-bottom: 4%;
}

.liste_2{
    display: flex;
    gap: 4%; 
    margin-bottom: 4%;
}

#activites{
    display: flex;
    flex-direction: column;
    margin: 2% 0;
}
.descriptif{

display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20.2px;
    padding: 5px 5px 1px 5px;
    box-shadow: 1px 1px 12px #1d1d1d1c;
    width: 100%;
}
.descriptif_2{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20.2px;
    padding: 5px 5px 1px 5px;
    box-shadow: 1px 1px 12px #1d1d1d1c;
    width: 100%;
}


.descriptif_haute{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20.2px;  
    width: 100%;
    box-shadow:1px 1px 12px #1d1d1d1c;
}

.descriptif_petite{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20.2px;   
    width: 100%; height: 44%;
    box-shadow:1px 1px 12px #1d1d1d1c; 
}

.descriptif_fine{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20.2px;   
    width: 100%; height: 37%;
    box-shadow:1px 1px 12px #1d1d1d1c; 
}

.descriptif_gros{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20.2px;   
    width: 100%; height: 53%;
    box-shadow:1px 1px 12px #1d1d1d1c; 
}

.legende_1{
    margin-top: 0.3%;
    margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
   
}

.legende_2{
    display: flex;
    margin-top: 0.7%;
    margin-bottom: 0;
    font-size: 17px;
   
}

.legende_3{
    margin: 0;
    margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
  
}

.flex_align {
    display: flex;
    margin: 6.7px 0 2px 4px;
}

.duo{
    display: flex;
}

.liste_plus_populaires{
    display: flex;
    flex-flow:column nowrap;
    gap:7%; height: 100%;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: #f2f2f2;
}

.liste_activites{
    width: 100%; height: 700px;
    display: flex;
    gap: 3%;
    justify-content: space-between;
    border-radius: 26px;   
}

.photo{
    width: 100%;
    height: 166px;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    object-fit: cover;   
}

.photo_gros{
    width: 100%; height: 81%;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    object-fit: cover;  
}

.photo_fin{
    width: 100%; height: 76%;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    object-fit: cover;  
}
.photo_fine{
    width: 100%; height: 71%;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    object-fit: cover;  
}

.photo_pop{
    width: 146px;
    height: 149px;
    border-bottom-left-radius:17px;
    border-top-left-radius:17px;
    object-fit: cover;
}

.photo_haute{
    width: 100%; height: 89%;
    border-top-left-radius:17px;
    border-top-right-radius: 17px;
    object-fit: cover;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin-top: 6%;
    padding: 1% 13.5% 3.8% 5.5%;
    margin-left: 0;
    margin-bottom: 0;
}


.lien_footer{
    display: flex;
    flex-direction: column;    
}


@media screen and (max-width:1660px){
   
    .liste_activites{
        height: 583px;
    }

}
@media screen and (max-width:1460px){
   
    .liste_activites{
        height: 500px;
    }
    .h3_activites{
        font-size: 17px;
    }
    .photo{
        height: 123px;
    }
    .legende_1{
        font-size: 16px;
    }
    .legende_2{
        font-size: 14px;
    }
    #hebergements{
        height: 90.5%;
    }
    .les_plus_populaires{
        height: 89%;
    }
    .photo_pop{
        height: 123px;
    }
    .mis_en_page{
        height: 631px;
    }


}

@media screen and (max-width:1204px) {
    .liste_activites{
        height: 379px;
    }
    .legende_1{
        font-size: 15px;
    }
    .etoile{
        width: 10px;
    }
    .legende_3{
        font-size:15px
    }
    .h3_activites{
        font-size: 15px;
    }
    .photo{
        height: 89px;
    }
    .photo_pop{
        height: 97px; width: 104px;
    }
    .mis_en_page{
        height: 554px;
    }
    .container{
        width: 30%;
    }
}
@media screen and (max-width:1122px){
    .legende_1{
        font-size: 14px;
    }
}
@media screen and (max-width:1076px){

    .legende_1{
        font-size: 13px;
    }
    .legende_2{
        font-size: 14px;
    }
   
}
@media screen and (max-width:1012px){

    .legende_1{
        font-size: 13px;
    }
    .legende_2{
        font-size: 13px;
    }

}

@media screen and (max-width:992px) {

    header{
        justify-content: space-around;

    }
    .container{
        width: 42%;
    }
    main{
        margin: 0;
    }
    
   .h3_activites{
       font-size: 14px;
   }
   .partie_recherche{
       align-items: center;
   }
   .partie_filtres{
       flex-direction: column;
       align-items: center;
   }
   .flex_filtres{
    flex-wrap: wrap;
    gap: 25px;
   }
   .mis_en_page{
       flex-direction: column;
       align-items: center;
       height: auto;
       justify-content: flex-start;
   }
   #hebergements{
       height: auto; width: 90%;
       margin: 1% 2.5%;
       padding: 3% 0% 2% 0
   }
   #activites{
       align-items: center;
       margin: 2% 1%;
   }
   .les_plus_populaires{
       height:auto; width: 85%;
       align-items: center;
       margin: 1% 2.5%;   
   }
   .flex_column_0{
       margin-left: 0;
   }
   .liste_plus_populaires{
       flex-direction: row;
       gap: 3%;
   }
   .liste_activites{
       height: 319px;
   }
   .flex_column_0{
       align-items: center;
   }
   .titre_recherche{
       padding-bottom: 0;
       margin-top: 0;
   }
   .descriptif{
       width: 236px;
   }
   .photo_pop{
       width: 79px;  height: 123px;
   }
   .plus{
       gap: 8%;
   }
  
}
@media screen and (max-width:848px){
    .descriptif{
        width: 200px;
    }
}

@media screen and (max-width:768px) {

    .BOOKI{
        font-size: 3%;
    }
    .recherche{
        padding: 5.5% 0px;
    }

    .partie_filtres{
        align-items: flex-start;
    }
        .legende_1{
            font-size: 32px;
        }

        .legende_3{
            font-size: 36px;
    font-weight: 700;
        }

    main{
        display: block;
        width: 100%;
        margin: 3% 0;
        align-content: stretch
    }
    
    header{
        flex-direction: column;
        align-items: center;
    }

    #activites{
        gap: 4%;
        margin: 10% 30px;
        height: 100%;
        align-items: flex-start;    
    }
    .info{
        font-size: 70%;
    }
    .partie_recherche{
        margin: 2% 10.5%;
        align-items: flex-start;
    }

    .container{
        width: 100%;
        justify-content: space-around;
    }

    .container_liens_header {
        font-size: 24px;
        width: 100%;
        display: flex;
        align-items: center;
       border-top: none 0;
        border-bottom: transparent solid 2px;
        justify-content: center;
        padding-bottom: 2%; 
    }

    .container_liens_header:hover{
        color: #0065FC;
        border-top: none 0;
        border-bottom: #0065FC solid 2px;
     }

     a{
        border-top: none 0;
        font-size: 24px;
        border-bottom: transparent solid 2px;
     }
     p, .p_info{
         font-size: 20px;
     }

     .BOOKI{
         margin: 4%;
         padding-left: 10%;
     }

    .titre_filtre{
        margin: 3% 3%;
        font-size: 28px;
    }
    
    .flex_filtres{
        flex-wrap: wrap;
    }

    .mis_en_page{
        flex-direction: column-reverse;
        margin-top: 0;
    }
    
    .les_plus_populaires{
        border-radius: 0;
        display: block;
        margin: 0;
        width: 95%;
    }

    .liste_plus_populaires{
        align-items: center;
        padding-bottom: 4%;
        gap: 25px;  
        flex-direction: column;
    }

    .titre_pop{
        font-size: 43px;
       padding-bottom: 27px;
    }
    
    button{
        position: relative;
        right: 6%;
        background-color: #0065FC;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 32px;
        background-image: url(img/magnifying-glass-solid.png);
        padding: 36px;
        border: #f2f2f2 1px solid;
        border-radius: 17px;
    }
    .hidden{
        display:none;
    }   
     .logo_filtre{
        width: 26px;
    height: 27px;
    padding: 13px;
    border-radius: 89px;
    }
    .map-marker{
        height: 5%;
    padding: 25px 25px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    }

    .logO{
        width: 35px;  
    }
    
    .barre{
        width: 384px;
    padding: 19px;
    font-size: 29px;
    }
    .flex_column_3{
        margin: 10px 0px 5px 8px;
    }
    .photo_pop{   
        background-size: contain;
        border-bottom-left-radius: 31px;
        border-top-left-radius: 31px;
        height: 278px;
    width: 239px;
      
    }
    .flex_align{
        margin-top: 13px;
    }

    .plus{
        justify-content: space-between;
        padding-left: 4%;
    }

    #hebergements {
        background-color: transparent;
        justify-content: flex-start;
       
    }

    .liste_1{
        width: 100%;
        gap: 60px; 
        justify-content: flex-start; 
        flex-direction: column;  
        padding-bottom: 60px;   
    }

    .liste_2{
        width: 100%;
        gap: 60px; 
        justify-content: flex-start;  
        flex-direction: column;   
    }
    
    .h3_activites{
        font-size: 4.7%;
        font-weight:700;
    }

    .legende_2{
        font-size: 25px;
        margin-top: 1.7%;
    }
    h3{
        font-size: 33px;
    }

    .flex_align_2{
        margin: 0;
    }

    .flex_align_3{
        margin: 0;
    }

    .flex_align_4{
        margin: 0;
    }

    .titre_hebergements{
       
        font-size: 43px;
    }

    .flex_column{
        margin: 3.5% 3% 3% 2%;
    }
    .flex_column_1{
        align-items: center;
        gap: 60px;
        width: 100%;
    }
    .flex_column_2{
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 60px;
    }
    .descriptif{
        width: 93%;
        height: 394px;
        padding: 9px;
        margin-bottom: 0;
        gap: 0.3%;
        border-radius: 33px;
        justify-content: flex-start;
    }
    .descriptif_2{
        width: 92%;
        padding: 12px 5px 6px 14px;
        border-radius: 42px;
    }
    .grid{
        width: 100%;
    }
    .lien_filtre{
        border-width: 2px;
    }

    .photo{
        width: 100%; height: 245px;
        border-top-left-radius: 33px;
        border-top-right-radius: 33px;
        background-size: contain;
    }

    .descriptif_haute{
        border-radius: 47px;
        width: 95%;
        height: 400px;
       
    }
    .descriptif_gros{
        height: 400px; width: 95%;
        border-radius: 47px;
    }
    .descriptif_fine{
        height: 400px; width: 95%;
        border-radius: 47px;
    }

    .descriptif_petite{
        border-radius: 47px;
        width: 95%;
        height: 400px;
       
    }
    
    .photo_fin{
        width:  100%; height: 77%;
        background-size: contain;
        border-top-left-radius: 47.2px;
        border-top-right-radius: 47.2px;
    }
    .photo_fine{
        width:  100%; height: 77%;
        background-size: contain;
        border-top-left-radius: 47.2px;
        border-top-right-radius: 47.2px;
    }

    .photo_gros{
        width:  100%; height: 77%;
        background-size: contain;
        border-top-left-radius: 47.2px;
        border-top-right-radius: 47.2px;
    }

    .photo_haute{
        width: 100%; height: 77%;
        background-size: contain;
        border-top-left-radius: 29px;
        border-top-right-radius: 29px;
    }

    .afficher_plus{
        justify-content: flex-start;
        font-size: 35px;
    }

    .etoile{
        width: 24px;
        height: 23px;
    }

    .les_plus_populaires{
        gap: 60px;
        align-items: flex-start;
    }
    .titre_recherche{
        font-size: 38px;
        margin-left: 0;
    }

 

    .h3_activites{
        font-size: 33px;
        
    }
    .logo_info{
        width: 17px;
        height: 19px;
        padding: 6px;
        border-radius: 29px;
    }

    .liste_activites{
        gap: 60px; 
        margin-top: 20px;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }

    
    .flex_column_0{
        width: 100%;
        align-items: flex-start;
        gap: 30px;
    }

    footer{
        flex-direction: column;
        gap: 0;
        margin-top: 12%;
        padding: 1% 0.5% 3.8% 5.5%;;
    }
    
    .article_footer{
        margin-bottom: 3%;

    }
    h2{
        font-size: 42px;
    }
    .titre_activites{
        font-size: 42px;
        margin-left: 13px;
    }
}
@media screen and (max-width:628px){
    button{
        background-size: 20px;
        padding: 25px;
    }

    .barre{
        width: 228px;
    padding: 13px;
    font-size: 20px;
    }

    .map-marker{
        padding: 11px 11px;
    }


    
}
@media screen and (max-width: 575px){
    .h3_activites{
        margin-top: 4px;
    }
    .legende_3{
        font-size: 22px;
    }
    .legende_2 {
        font-size: 19px;
    }
    .photo_pop{
        width: 175px;
    }
    .legende_1{
        font-size: 22px;
    }
    .photo{
        height: 213px;
    }
    .descriptif{
        height: 317px;
    }
    .h3_activites{
        font-size: 22px;  
      }
      .descriptif_haute, .descriptif_petite{
          height: 307px;
      }
      .photo_fin, .photo_haute{
          height: 239px;
      }
}
@media screen and (max-width: 397px){
    .barre{
        width: 158px;
    }
}

@media screen and (max-width: 300px) {

    .BOOKI{
    width: 58%;

    }
    .flex_column_1,.flex_column_0, .flex_column_2, .liste_activites, .liste_1, .liste_2{
        gap: 3%;
    }
    .lien_filtre{
        border-width: 0.5px;
    }
    .flex_column,.h3_activites, footer, #activites, .flex_align, .partie_recherche, .legende_2, .legende_3, .partie_filtres{
        margin-top: 0;
    }
    .liste_plus_populaires{
        padding: 0;
    }
    
    .descriptif{
        padding: 2%;
    }

    .partie_filtres{
        margin-bottom: 0;
    }
    .info{
        margin: 0;
    }
    .logo_info{
        width: 1.4%; height: 1%;
        padding: 1%;
        border-width: 0.5px;
    }
    .descriptif_petite, .descriptif_haute {
        height: 53%;
    }
}
